/*
New Event
http://www.rssi.in
*/

/*---------------------------------------
    THIS WILL IMPACT ALL FONT OF THE WEBSITE WHERE NO SPECIFICATION IS MENTIONED              
-----------------------------------------*/
body {
		background: #ffffff;
    font-family: 'Roboto'/*'Poppins', sans-serif*/;
    font-style: normal;
		font-weight: 400;
	overflow-x: hidden;
}


/*---------------------------------------
 ALL WEBSITE FONT DESIGN          
-----------------------------------------*/
h1,h2,h3,h4,h5,h6 {
  font-weight: 600;
	font-family: 'Poppins';
}

h3,h5 {
  font-weight: 500;
}

h1 {
    font-size: 40px;
    letter-spacing: 2px;
}

h2 {
  font-size: 30px;
  text-transform: uppercase;
}

h3 {
  line-height: 36px;
}

h5 {
    letter-spacing: 1px;
    padding-top: 10px;
}

p {
    color: #444444;
    font-size: 14px !important;
    line-height: 21px !important;
}

a {
    text-decoration: none !important;
}
/*---------------------------------------
    UPDATE SECTION - SCROLL FONT DESIGN
-----------------------------------------*/
ps {
    line-height: 1;
	font-size: 13px !important;
}
/*---------------------------------------
    WHAT WE DID SO FAR - FIRST PARAGRAPH OF ANY LISTED ITEM  [ID NAME - CALENDER]            
-----------------------------------------*/
#calender ul {
    padding-left: 30px;
	color: #444444;
}

/*---------------------------------------
DETAIL SECTION SMALL TEXTDESIGN - [ID NAME - DETAIL]            
-----------------------------------------*/
#detail p {
	
    color: #909090;
}
/*---------------------------------------
    CLASS NAME- NOTICE : URL DECORATION               
-----------------------------------------*/
.notice a:link {
  text-decoration: none !important;
	color:#F2545F !important;
	font-size: 13px;
}

.notice a:visited {
  text-decoration: none !important;
	color:#F2545F !important;
	font-size: 13px;
}

.notice a:hover {
  text-decoration: underline !important;
	color:#F2545F !important;
	font-size: 13px;
}

.notice a:active {
  text-decoration: underline !important;
	color:#F2545F !important;
	font-size: 13px;
}

#overview a:hover{text-decoration: underline !important;}
#donation a:hover{text-decoration: underline !important;}

/*---------------------------------------
    UPDATE SECTION - SCROLL TEXT BACKGROUNG COLOR
-----------------------------------------*/

.bg-primary {
    color: #fff;
    background-color: #F2545F !important;
}


/*---------------------------------------
    General               
-----------------------------------------*/
.section-title {
  margin-bottom: 32px !important;
}

#overview,#dashboard,#calender,
#register {
  padding-top: 14rem;
  padding-bottom: 14rem;
}

#detail, #video,
#speakers, 
#program,
#sponsors, 
#contact, footer {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

#detail,
#speakers, #sponsors,
footer {
  text-align: center;
}

#overview h3, #dashboard h3, #calender h3,
#detail h3, #video h3,
#register h3,
#venue h3,
#contact h3 {
    padding-bottom: 12px;
}

#intro .btn, #overview .btn, #donation .btn,
#contact .btn {
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 0px;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 12px;
    padding: 14px 42px;
    margin-top: 42px;
    margin-right: 12px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
	font-family: 'Poppins';
    text-transform: uppercase;
}

#intro .btn-danger, #overview .btn-danger, #donation .btn-danger,
#contact .btn-danger {
    background: #f2545f;
    border-color: transparent;
}

#contact .btn{
  border-radius: 100px;
}

#intro .btn-danger:hover {
  background: transparent;
  border-color: #ffffff;
  color: #ffffff;
}

#overview .btn-danger:hover {
  background: #f2545f;
  border-color: transparent;}
    
  #donation .btn-danger:hover {
  background: #f2545f;
  border-color: transparent;
	

}


#contact .btn-danger:hover {
  background: #222;
}

#intro .btn-default:hover {
    background: #ffffff;
    color: #333333;
    border-color: transparent;
}

#overview .btn-default:hover {
    background: #ffffff;
    color: #333333;
    border-color: transparent;
}

.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
}


/*---------------------------------------
    Preloader section              
-----------------------------------------*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.sk-rotating-plane {
  width: 50px;
  height: 50px;
  background-color: #222;
  -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
          animation: sk-rotatePlane 1.2s infinite ease-in-out; }

@-webkit-keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

@keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }



/*---------------------------------------
    Navigation Links section     101010         
-----------------------------------------*/
.custom-navbar {
    margin-bottom: 0;
    background-color: #454545;
}

.custom-navbar .navbar-brand {
    color: #ffffff;
    font-weight: 600;
    font-size: 3rem;
    line-height: 40px;
}

.custom-navbar .nav li a {
    color: #ddd;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    line-height: 40px;
    transition: all 0.4s ease-in-out;
}

.custom-navbar .nav li a:hover {
    background: transparent;
    color: #66ccff;
}

.custom-navbar .navbar-nav > li > a:hover,
.custom-navbar .navbar-nav > li > a:focus {
  background-color: transparent;
}

.custom-navbar .nav li.active > a {
    background-color: transparent;
    color: #66ccff;
}

.custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
}

.custom-navbar .navbar-toggle {
    background-color: transparent;
}

.custom-navbar .navbar-toggle .icon-bar {
    background: #ffffff;
    border-color: transparent;
}

@media(min-width:768px) {
    .custom-navbar {
        padding: 20px 0;
        border-bottom: 0;
        background: 0 0; 
    }
    .custom-navbar.top-nav-collapse {
        background: #454545;
        padding: 0;
    }

}



/*---------------------------------------
    Intro section              
-----------------------------------------*/

#intro {
  background: linear-gradient(
    rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/intro-bg.jpg') 50% 0 repeat-y;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
   display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
   -webkit-align-items: center;
    -ms-flex-align: center;
        align-items: center;
  height: 100vh;
  text-align: center;
}

/*---------------------------------------
   Overview  section              
-----------------------------------------*/
#overview,#dashboard,#calender img {
  position: relative;
  padding: 0px;/*32px*/
	margin: 0px;
}



/*---------------------------------------
    Detail section              
-----------------------------------------*/
#detail {
    background: #222;
    color: #ffffff;
}

#detail .fa {
  color: #f2545f;
  font-size: 48px;
}

/*---------------------------------------
    ONE SIDED BORDER RED PARAGRAPH DESIGN  
-----------------------------------------*/
.dnd
{
     background-color: #fff;
     background-position: 9px 0px;
     background-repeat: no-repeat;
     border-left: solid 3px #f2545f;
     line-height: 18px;
     overflow: hidden;
     padding: 15px 30px 25px 15px;
}

.media, .media-body {
	overflow: auto;}


/*---------------------------------------
   LAYOUT COLUMN     
-----------------------------------------*/
* {
  box-sizing: border-box;
}

/*DASH BOARD SECTION INDEX PAGE*/
.column1 {
  float: left;
  width: 55%;
 
}
.column2 {
  float: left;
  width: 45%;
  
}
/*WHAT WE DID-INDEX, ADMISSION, REGISTRATION*/
.column3 {
  float: left;
  width: 55%;
 
}
.column4 {
  float: left;
  width: 45%;
  padding-left:2%;
  overflow: hidden;
  
}

/*FOUNDER - INDEX   */

.column5 {
  float: left;
  width: 25%;
padding-left: 1%;
  
}
.column5a {
  float: left;
  width: 25%;
  padding-left: 3%;
  position: relative;
  display: inline;
  
}
/*OVERVIEW-INDEX, ABOUT US, VIDEO*/
.column6 {
  float: left;
  width: 45%;
   
}
.column6a {
  float: left;
  width: 55%;
  padding-left:5%;
  
}

/*DONATION - TEXT AND IMAGE*/

#donation .column6 {
  float: left;
  width: 50%;
   
}
#donation .column6a {
  float: left;
  width: 50%;
  padding-left:5%;
  
}

/*DONATION - ACCOUNT NUMBER AND QR CODE*/
.column7 {
  float: left;
  width: 75%;
  
}
.column7a {
  float: left;
  width: 25%;
  padding-top:1%;
}

/*UPDATE-INDEX FLAG*/
#update .col-lg-2 {width: 5% !important;}
#update .col-lg-10 {width: 95% !important;}

@media screen and (width: 1024px) {#update .col-lg-2 {width: 10% !important;}
    #update .col-lg-10 {width: 100% !important;}}
     

/* Clear floats after the columns */
.row1:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .column1, .column2, .column3, .column4, .column5, .column5a, .column6, .column6a, #donation .column6, #donation .column6a, .column7  {
    width: 100%;
    padding-top: 5%;
    padding-left: 0px;
  }

    #calender.column3, #overview .column6 {width: 100%; padding-left: 0px;}
    #calender h2 {margin-left: 10px;}
    
   .column7a {
    width: 50%;
    padding-top: 5%;
    padding-left: 0px;
  }

#update .col-lg-2 {width: 10% !important;
  position: unset;
  min-height: unset;
  padding-right: unset;
  padding-left: unset;
  display: inline-block;}

#update .col-lg-10 {width: 85% !important;
  position: absolute;
  min-height: unset;
  padding-right: unset;
  padding-left: 10px;
  display: inline-block;}
    
   .marginleft h1,.marginleft h2,.marginleft h3,.marginleft h4,.marginleft h5,.marginleft h6,.marginleft p,.marginleft a, .marginlefttable {margin-left: 10px;}}

/*---------------------------------------
    Video section              
-----------------------------------------*/
#video iframe {
  border: none;
}



/*---------------------------------------
   Speakers section              
-----------------------------------------*/
#speakers {
    background: #f9f9f9;
}

#speakers h3 {
    font-size: 18px;
    margin-bottom: 0px;
}

#speakers h6 {
  color: #666;
  margin-top: 4px;
}

#speakers img {
  width: 140px;
  max-width: 100%;
  height: 188px;
}

#speakers .col-md-3 {
    display: block;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 22px;
}

#speakers .speakers-wrapper {
    background: #ffffff;
    padding-bottom: 22px;
}


.imgcircle {
  border-radius: 50%;
}


/*---------------------------------------
   Program section              
-----------------------------------------*/
#program h4 {
    color: #808080;
    font-size: 12px;
}

#program h3 {
  margin-top: 16px;
}

#program .program-divider {
    border: 1px solid #f9f9f9;
    margin-top: 32px;
    margin-bottom: 42px;
}

#program span {
    padding-right: 12px;
}

#program img {
  border-radius: 50%;
}

.nav-tabs {
  margin-bottom: 20px;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  color: #000000;
  font-weight: 600;
  margin-right: 2px;
  line-height: 1.42857143;
  border: none;
  border-radius: 0px;
}
.nav-tabs > li > a:hover {
  background-color: transparent;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #f2545f;
  cursor: default;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom-color: #999;
}
.tab-content {
  padding-top: 20px;
}



/*---------------------------------------
    Regsiter section              
-----------------------------------------*/
#register {
    background: url('../images/register-bg.jpg') 50% 0 repeat-y fixed;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    color: #ffffff;
}

#register .form-control {
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 0px;
  color: #ffffff;
  margin-bottom: 16px;
}

#register input {
  height: 45px;
}

#register input[type="submit"] {
  background: #f2545f;
  border-radius: 100px;
  border: none;
  color: #ffffff;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 12px;
  transition: all 0.4s ease-in-out;
}

#register input[type="submit"]:hover {
  background: #ffffff;
  color: #222;
}



/*---------------------------------------
   Faq section              
-----------------------------------------*/
#faq {
  background: #f9f9f9;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

#faq .panel-group {
  margin-top: 32px;
}

#faq .panel-group .panel {
  margin-bottom: 8px;
}

#faq .panel-default {
  border: none;
}

#faq .panel-default>.panel-heading {
  background: #f0f0f0;
  color: #505050;
}

#faq .panel-heading {
  border: none;
  padding-top: 8px;
  padding-bottom: 6px;
}

#faq .panel-default>.panel-heading+.panel-collapse>.panel-body {
  border-top: none;
  padding-top: 22px;
  padding-left: 32px;
  padding-bottom: 22px;
}

#faq .panel-heading .panel-title a[data-toggle="collapse"] {
  font-size: 18px;
  font-weight: 500;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 15px;
}

#faq .panel-heading .panel-title a[data-toggle="collapse"]::after {
  content: "-";
  display: block;
  position: absolute;
  line-height: 1;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
}

#faq .panel-heading .panel-title a[data-toggle="collapse"].collapsed::after {
  content: "+";
}



/*---------------------------------------
   Venue section              
-----------------------------------------*/
#venue {
    background: url('../images/venue-bg.jpg') 50% 0 repeat-y fixed;
    background-size: cover;
    background-position: center center;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

#venue p {
  padding-top: 12px;
  padding-bottom: 18px;
}



/*---------------------------------------
   Sponsors section              
-----------------------------------------*/
#sponsors img {
  margin-top: 18px;
}



/*---------------------------------------
   Contact section              
-----------------------------------------*/
#contact {
    background: url('../images/contact-bg.jpg') 50% 0 repeat-y fixed;
    background-size: cover;
    background-position: center center;
}

#contact .contact_des {
  padding-top: 3rem;
  padding-right: 2rem;
}

#contact .contact_detail {
  background: #ffffff;
  padding: 5rem 5rem 12rem 5rem;
}

#contact .form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 0px;
  box-shadow: none;
  margin-bottom: 16px;
  transition: all 0.4s ease-in-out;
}

#contact .form-control:focus {
  border-bottom-color: #999;
}

#contact input {
  height: 45px;
}

#contact input[type="submit"] {
  background: #222;
  border-radius: 100px;
  border: none;
  color: #ffffff;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 12px;
  transition: all 0.4s ease-in-out;
}

#contact input[type="submit"]:hover {
  background: #f2545f;
}



/*---------------------------------------
   Footer section              
-----------------------------------------*/
footer {
  background-attachment: fixed;
}



/* Back top */
.go-top {
  background-color: #222;
  bottom: 2em;
  right: 2em;
  color: #ffffff;
  font-size: 32px;
  display: none;
  position: fixed;
  text-decoration: none;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  transition: all 0.4s ease-in-out;
}

.go-top:hover {
    background: #f2545f;
    color: #ffffff;
}


/*---------------------------------------
   Social icon             
-----------------------------------------*/
.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon li a {
    color: #666;
    border-radius: 100px;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
}

.social-icon li a:hover {
    background: #f2545f;
    color: #ffffff;
}



/*---------------------------------------
   Responsive styles            
-----------------------------------------*/
@media (max-width: 980px) {

  p {font-size: 13px;}

  .custom-navbar .navbar-brand {
    font-size: 2rem;
  }

  .custom-navbar .nav li a {
    font-size: 11px;
	line-height: 20px;
  }

  #intro { height: 65vh; width:auto; max-width: 100%; background-attachment: scroll;}

  #video iframe {
    margin-top: 42px;
  }

  #contact .contact_detail {
  background: #ffffff;
  padding: 10rem 3rem 10rem 5rem;
}

}

@media (max-width: 768px) {

  .custom-navbar .navbar-brand {
    line-height: 20px;
  }

  
  #detail .col-md-4,
  #register form {
    padding-top: 32px;
  }

  .nav-tabs > li > a {
    font-size: 13px;
  }

  #program img {
    padding-bottom: 32px;
  }

  #sponsors img {
    padding-top: 22px;
  }

  #contact .contact_detail {
    margin-top: 82px;
  }

}

@media (max-width: 760px) {

  #intro {
    height: 100vh; width:auto; max-width: 100%; background-attachment: scroll;
  }

}

/*---------------------------------------
   Scroll image under overview section     
-----------------------------------------*/
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}



.box { display:inline-block; 
vertical-align: baseline;}




/*---------------------------------------
   DASHBOARD EVENT - ANNOUNCEMENT SECTION   
-----------------------------------------*/

/* Using panels to display blog date */
.panel.date {
    margin: 0px;
    width: 60px;
    text-align: center;
}

.panel.date .month {
    padding: 2px 0px;
    font-weight: 700;
    text-transform: uppercase;
}

.panel.date .day {
    padding: 3px 0px;
    font-weight: 700;
    font-size: 1.5em;
}



/*---------------------------------------
   FOUNDER CSS ANIMATION TO GET THEIR DETAILS
-----------------------------------------*/

/*.pt-100{
    padding-top:100px;
}
.pb-100{
    padding-bottom:100px;
}
.section-title {
  margin-bottom: 60px;
}
.section-title p {
	color: #777;
	font-size: 16px;
}
#team h2 {
	text-transform: uppercase;
	font-size: 30px;
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 50px;
	font-weight: 600;
}

.single-team img {
  width: 100%;
}
.single-team {
  position: relative;
}
.team-hover {
  background-color: #F2545F;
  color: #fff;
  position: absolute;
  bottom: -110px;
  left: 0;
  width: 65px;
  padding: 5px 10px 10px 10px;
  text-align: center;
  -webkit-transition: .4s;
  transition:.4s
}


.team-hoverF {
  background-color: #F2545F;
  color: #fff;
  position: absolute;
  bottom: -97px;
  left: 0;
  width: 65px;
  padding: 5px 10px 10px 10px;
  text-align: center;
  -webkit-transition: .4s;
  transition:.4s
}

.team-hoverF h4{
  font-size: 14px;
  /*text-transform: uppercase;
}

.team-hover h4{
  font-size: 14px;
  /*text-transform: uppercase;
}
.team-hover h4 span{
  display: block;
  font-size: 12px;
  font-weight: 300;
  margin: 10px 0;
}
.team-hoverF h4 span{
  display: block;
  font-size: 12px;
  font-weight: 300;
  margin: 10px 0;
}
.team-hover a{
  display: inline-block;
  color: #fff;
  padding: 0 5px;
}
.team-hoverF a{
  display: inline-block;
  color: #fff;
  padding: 0 5px;
}
.single-team:hover .team-hover{
  bottom: 0;
}

.single-team:hover .team-hoverF{
  bottom: 0;
}

.single-team{
  overflow: hidden;
}*/

.our-team{
  position:relative;
  overflow: hidden;
  height: 310px;
}
.our-team .team-pic > img{
  width: 92%;
  height:auto;
}
.our-team .team-profile{
  background:#F2545F;
  padding: 0 24px;
  position: absolute;
  right: 0;
  bottom: -52%;
  width: 90%;
  min-height:245px;
  transition: all 0.25s ease 0s;
}

.our-team:hover .team-profile{
  bottom:0px;
}
.our-team .team-profile:before{
  content: "";
  border-bottom: 30px solid #F2545F;
  border-right: 262px solid transparent;
  position: absolute;
  top:-30px;
  left: 0;
}
.our-team .team-title{
  line-height: 22px;

}
.our-team .team-title:after{
  content:"";
  display: block;
  width: 10%;
  border-bottom:4px solid #fff;
  padding-bottom:5px;
}
.our-team .team-title a{
  font-size: 17px;
  text-transform: uppercase;
  font-weight:bold;
  color: #fff;
  display: block;
  transition:all 0.2s linear 0s;
}
.our-team .team-title a:hover{
  color:#fff;
  text-decoration: none;
}
.our-team .team-title > small{
  font-size: 14px;
  color:#fff
}

.description a{
  font-size: 13px;
  color:#fff !important;
}
.description a:link {
  text-decoration:none !important;
}

.description a:visited {
  text-decoration:none !important;
}

.description a:hover {
  text-decoration:underline !important;
}

.description a:active {
  text-decoration:none !important;
}

.our-team .description{
  color: #fff;
  line-height: 25px;
}
.our-team .description:after{
  content:"";
  display:block;
  border-bottom:1px solid #fff;
  margin-top: 10px;
}
.our-team .team-social{
  padding:0;
}
.our-team .team-social > li{
  display: inline-block;
  margin-right: 12px;
}
.our-team .team-social > li > a{
  color:#fff;
  font-size:15px;
}
.our-team .team-social > li > a:hover{
  text-decoration: none;
}
@media only screen and (max-width: 990px) {
  .our-team{
      width: 310px;
      margin: 0 auto 15px;
  }
  .our-team .team-profile:before{
      border-right: 300px solid transparent;
  }
}
@media only screen and (max-width: 359px) {
  .our-team{
      width: auto;
  }
}

/*---------------------------------------
   nt-example1 ANNOUNCEMENT SCROLLING UP
-----------------------------------------*/
/* */

#nt-example1-container {
	text-align: center;
}

#nt-example1-container i {
	font-size: 15px;
	margin: 8px;
	cursor: pointer;
	-webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#nt-example1-container i:hover {
	color: #333;
}

#nt-example1 li {
	background-color: #f9f9f9;
	overflow: hidden;
	min-height: 80px;
	padding: 5px;
	text-align: left;
	border-bottom: 1px dotted #2c8162;
}

#nt-example1 li:hover {
	background: #FFF;
}

#nt-example1-container ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

/*---------------------------------------
   PACE - PRELOADER
-----------------------------------------*/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #f25560;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}
