@media (width: 360px) {#tpopup{position: absolute;
  width: 90%;
  background: #fff;
  left: 95%;
  top: 60%;
  border-radius: 5px;
  padding: 60px 0;
  text-align: center;
  box-shadow: 0 0 10px 0 #000;}}

  @media (width: 411px), (width: 414px) {#tpopup{position: absolute;
      width: 90%;
      background: #fff;
      left: 83%;
      top: 60%;
      border-radius: 5px;
      padding: 60px 0;
      text-align: center;
      box-shadow: 0 0 10px 0 #000;}}

      @media (width: 375px) {#tpopup{position: absolute;
          width: 90%;
          background: #fff;
          left: 90%;
          top: 60%;
          border-radius: 5px;
          padding: 60px 0;
          text-align: center;
          box-shadow: 0 0 10px 0 #000;}}

          @media (width: 768px) {#tpopup{position: absolute;
              width: 90%;
              background: #fff;
              left: 50%;
              top: 50%;
              border-radius: 5px;
              padding: 60px 0;
              text-align: center;
              box-shadow: 0 0 10px 0 #000;}}

              @media (width: 1024px) {#tpopup{position: absolute;
                  width: 90%;
                  background: #fff;
                  left: 37%;
                  top: 50%;
                  border-radius: 5px;
                  padding: 60px 0;
                  text-align: center;
                  box-shadow: 0 0 10px 0 #000;}}

                  @media (width: 600px){ #tpopup {position: absolute;
                      width: 90%;
                      background: red;
                      
                      border-radius: 5px;
                      padding: 60px 0;
                      text-align: center;
                      box-shadow: 0 0 10px 0 #000;}}