<!DOCTYPE html>
<html lang="en">

<head>
    <!--
RSSI
http://www.rssi.in
-->
    <title>Certificate portal</title>
</head>

<meta name="description" content="">
<meta name="author" content="">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width,
        initial-scale=1,maximum-scale=1">
<link rel="shortcut icon" href="/images/logo/favicon.ico" type="image/x-icon" />
<script src="/js/jquery.js"></script>
<script>
    $(function () {
        $("#header").load("/header.html");
        $("#footer").load("/footer.html");
    });</script>
<link rel="stylesheet" href="/css/HeaderFooter.css">
<link rel="stylesheet" href="/css/bootstrap_sheet.min.css">

<!-- Main css -->
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/addstyle.css">
<!-- Material Design Bootstrap -->
<link href="/css/mdb.min_sheet.css" rel="stylesheet">

<style>
    body {
        line-height: unset;
    }

    .navbar {
        padding: unset;
        font-weight: unset;
        display: inline-block;
    }

    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: unset;
    }

    .text-center {
        text-align: left !important;
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: #fff;
    }

    .table-striped tbody tr {
        background-color: #FAFAFB
    }

    input,
    select {
        width: 150px;
    }

    input:focus,
    textarea:focus,
    select:focus {
        outline: none;
    }

    .exam_btn:hover {
        background: #90BAA4;
        border: 1px solid #90BAA4;
    }
    .columnExam2 {
        float: left;
        width: unset !important;
        padding-top: 1%;
    }
</style>
<!-- =========================
     NAVIGATION LINKS     
============================== -->

<body>

    <div id="header"></div>

    <!-- NAVIGATION PATH -->

    <!--<img src="" alt="" width="100%"/><br>-->
    <div style="margin: 0.3%;">
        <ps class="marginleft notice" style="margin-left: 3%;">
            <a href="/index">Home</a> &#62; Get involved &#62; WBT Training</ps>
    </div>
    <br><br>

    <div class="container">
        <p style="display: inline;">You have to enter at least one value to
            get the WBT details.</p>
        <div class="row" style="background-color: rgb(255, 245,
                194);min-height: 70px;">


            <div class="col1">
                <label for="name">Course ID<span style="color: #F2545F"></span>&nbsp;</label>
                <input type="text" id="name" name="name" minlength="5" maxlength="5" size="12">
            </div>

            <div class="col2">
                <label for="ename">Language<span style="color: #F2545F"></span>&nbsp;</label>
                <select name="ename" id="ename">
                    <option selected>Select</option>
                    <option>English</option>
                    <option>Hindi</option>
                    <option>Bengali</option>
                </select>
                </select>
            </div>

            <div class="col3">
                <button type="button" class="exam_btn" onclick="loaddata()"><i class="fas fa-search"></i>
                    search</button>
            </div>


        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col">

                <body>
                    <h2 style="margin-top:2%; font-size:20px;" align="center">Get Web-Based Training (WBT) Details</h2>
                    <div class="container text-center my-4" style="overflow-x:
                        auto;">
                        <!-- Table  -->
                        <table class="table bordered table-striped" id="testTable">
                            <!-- Table head -->
                            <thead style="background-color: whitesmoke;
                                font-style: oblique;">
                                <tr>
                                    <th width="10%"><b>Course ID</b></th>
                                    <th width="25%"><b>Course Name</b></th>
                                    <th width="8%"><b>Language</b></th>
                                    <th width="14%"><b>Passing marks</b></th>
                                    <th width="10%"><b>Validity</b></th>
                                    <th><b>URL</b></th>
                                </tr>
                            </thead>
                            <!-- Table head -->

                            <!-- Table body -->
                            <tbody id="demo">


                            </tbody>
                            <!-- Table body -->
                        </table>
                        <!-- Table  -->

                    </div>

            </div>
        </div>
    </div>
    <!-- =========================
     SCRIPTS   
============================== -->
    <script src="/js/pace.js"></script>
    <script src="/js/fontawsome.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.parallax.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/custom.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/js/mdb.min.js"></script>
    <script type="text/javascript">

        var loaddata = function () {
            var courseid = document.getElementById('name').value
            var language = document.getElementById('ename').value

            $.getJSON("https://spreadsheets.google.com/feeds/list/1I5WANuMzHDcb2m9-PoXIOV3aZIrABUGSfwPOPNh0HBY/4/public/values?alt=json",
                function (data) {
                    document.getElementById('demo').innerHTML = ""
                    var sheetData = data.feed.entry;
                    var i;
                    var records = []
                    for (i = 0; i < sheetData.length; i++) {
                        var Courseid = data.feed.entry[i]['gsx$courseid']['$t'];
                        var Coursename = data.feed.entry[i]['gsx$coursename']['$t'];
                        var Language = data.feed.entry[i]['gsx$language']['$t'];
                        var Passingmarks = data.feed.entry[i]['gsx$passingmarks']['$t'];
                        var Validity = data.feed.entry[i]['gsx$validity']['$t'];
                        var Url = data.feed.entry[i]['gsx$url']['$t'];
                        
                       

                        if ((Courseid === courseid && Language === language)||(language === "" && Courseid === courseid)||(courseid === "" && Language === language))  {
                            // sort records
                            records.push({ Courseid: Courseid, Coursename: Coursename, Language: Language, Passingmarks:Passingmarks, Validity: Validity, Url: Url})
                        }

                        // else {document.getElementById('demo').innerHTML= "no record2";}
                    }
                    if (records.length == 0) {
                        document.getElementById('demo').innerHTML += ('<tr>' + '<td></td><td>' + '<p style="color:#F2545F">No record found.</p>'+'</td></tr>');
                    } else {
                        records.forEach(item => {
                            {
                                document.getElementById('demo').innerHTML += ('<tr>' + '<td>' + item.Courseid + '</td>'+ '<td>' + item.Coursename + '</td>' + '<td>' + item.Language + '</td>' + '<td>' + item.Passingmarks + '</td>' + '<td>' + item.Validity + '</td>'  + '<td>' + '<a href="' + item.Url + '"target="_self"><div class="columnExam2 exam_btn">Start</div></a>' + '</td>' +'</tr>');
                            }
                        })
                    }
                });
        }

        document.addEventListener("DOMContentLoaded", function () {
            var lazyloadImages = document.querySelectorAll("img.lazy");
            var lazyloadThrottleTimeout;

            function lazyload() {
                if (lazyloadThrottleTimeout) {
                    clearTimeout(lazyloadThrottleTimeout);
                }

                lazyloadThrottleTimeout = setTimeout(function () {
                    var scrollTop = window.pageYOffset;
                    lazyloadImages.forEach(function (img) {
                        if (img.offsetTop < (window.innerHeight + scrollTop)) {
                            img.src = img.dataset.src;
                            img.classList.remove('lazy');
                        }
                    });
                    if (lazyloadImages.length == 0) {
                        document.removeEventListener("scroll", lazyload);
                        window.removeEventListener("resize", lazyload);
                        window.removeEventListener("orientationChange", lazyload);
                    }
                }, 20);
            }

            document.addEventListener("scroll", lazyload);
            window.addEventListener("resize", lazyload);
            window.addEventListener("orientationChange", lazyload);
        });</script>
    <!-- =========================
     FOOTER   
============================== -->
    <!-- Back top -->
    <a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>
    <div id="footer"></div>
</body>

</html>