/*---------------------------------------
   Overview  section              
-----------------------------------------*/

#overview, #dashboard, #calender img {
    position: relative;
    padding: 0px;
    /*32px*/
    margin: 0px;
}

/*---------------------------------------
      Detail section              
  -----------------------------------------*/

#detail {
    background: #222;
    color: #ffffff;
}

#detail .fa {
    color: #f2545f;
    font-size: 48px;
}

/*---------------------------------------
      ONE SIDED BORDER RED PARAGRAPH DESIGN  
  -----------------------------------------*/

.dnd {
    background-color: #fff;
    background-position: 9px 0px;
    background-repeat: no-repeat;
    border-left: solid 3px #f2545f;
    line-height: 18px;
    overflow: hidden;
    padding: 15px 30px 25px 15px;
}

/*---------------------------------------
     LAYOUT COLUMN     
  -----------------------------------------*/

* {
    box-sizing: border-box;
}

/*DASH BOARD SECTION INDEX PAGE*/

.column1 {
    float: left;
    width: 55%;
}

.column2 {
    float: left;
    width: 45%;
}

/*WHAT WE DID-INDEX, ADMISSION, REGISTRATION*/

.column3 {
    float: left;
    width: 55%;
}

.column4 {
    float: left;
    width: 45%;
    padding-left: 2%;
    overflow: hidden;
}

/*OVERVIEW-INDEX, ABOUT US, VIDEO*/

.column6 {
    float: left;
    width: 45%;
}

.column6a {
    float: left;
    width: 55%;
    padding-left: 5%;
}

/*DONATION - TEXT AND IMAGE*/

#donation .column6 {
    float: left;
    width: 50%;
}

#donation .column6a {
    float: left;
    width: 50%;
    padding-left: 5%;
}

/*DONATION - ACCOUNT NUMBER AND QR CODE*/

.column7 {
    float: left;
    width: 75%;
}

.column7a {
    float: left;
    width: 25%;
    padding-top: 1%;
}

/*UPDATE-INDEX FLAG*/

#update .col-lg-2 {
    width: 5% !important;
}

#update .col-lg-10 {
    width: 95% !important;
}

.columnExam {
    float: left;
    width: 76%;
}

.columnExam2 {
    float: left;
    width: 24%;
    padding-top: 1%;
}

@media screen and (width: 1024px) {
    #update .col-lg-2 {
        width: 10% !important;
    }
    #update .col-lg-10 {
        width: 100% !important;
    }
}

/* Clear floats after the columns */

.row1:after {
    content: "";
    display: table;
    clear: both;
}

#videoNational .column6 {
    padding-left: 5%;
}

.col1 {width: 35%; padding-left: 3%; margin-top: 25px;}
.col2 {width:30%; margin-top: 25px;}
.col3 {width:30%; margin-top: 20px;}
.col2ass {width:15%; margin-top: 25px;}



/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .column1, .column2, .column3, .column4, .column6, .column6a, #donation .column6, #donation .column6a, .column7 {
        width: 100%;
        padding-top: 5%;
        padding-left: 0px;
    }
    .col1, .col2,.col2ass, .col3 {width: 100%; padding-left: 3%; margin-top: 10px;}

    #videoNational .column6 {
        padding-left: 0;
    }
    #calender.column3, #overview .column6 {
        width: 100%;
        padding-left: 0px;
    }
    #calender h2 {
        margin-left: 10px;
    }
    .column7a {
        width: 50%;
        padding-top: 5%;
        padding-left: 0px;
    }
    #update .col-lg-2 {
        width: 10% !important;
        position: unset;
        min-height: unset;
        padding-right: unset;
        padding-left: unset;
        display: inline-block;
    }
    #update .col-lg-10 {
        width: 85% !important;
        position: absolute;
        min-height: unset;
        padding-right: unset;
        padding-left: 10px;
        display: inline-block;
    }
    .marginleft h1, .marginleft h2, .marginleft h3, .marginleft h4, .marginleft h5, .marginleft h6, .marginleft p, .marginleft a, .marginlefttable {
        margin-left: 10px;
    }
    .marginright h1, .marginright h2, .marginright h3, .marginright h4, .marginright h5, .marginright h6, .marginright p, .marginright a, .marginrighttable {
        margin-right: 5%;
    }
    #studentlist {
        margin-left: 10px;
    }
}

/*---------------------------------------
      Video section              
  -----------------------------------------*/

#video iframe {
    border: none;
}

/*---------------------------------------
     Speakers section              
  -----------------------------------------*/

#speakers {
    background: #f9f9f9;
}

#speakers h3 {
    font-size: 18px;
    margin-bottom: 0px;
}

#speakers h6 {
    color: #666;
    margin-top: 4px;
}

#speakers img {
    width: 140px;
    max-width: 100%;
    height: 188px;
}

#speakers .col-md-3 {
    display: block;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 22px;
}

#speakers .speakers-wrapper {
    background: #ffffff;
    padding-bottom: 22px;
}

.imgcircle {
    border-radius: 50%;
}

/*---------------------------------------
     Faq section              
  -----------------------------------------*/

#faq {
    background: #f9f9f9;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

#faq .panel-group {
    margin-top: 32px;
}

#faq .panel-group .panel {
    margin-bottom: 8px;
}

#faq .panel-default {
    border: none;
}

#faq .panel-default>.panel-heading {
    background: #f0f0f0;
    color: #505050;
}

#faq .panel-heading {
    border: none;
    padding-top: 8px;
    padding-bottom: 6px;
}

#faq .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top: none;
    padding-top: 22px;
    padding-left: 32px;
    padding-bottom: 22px;
}

#faq .panel-heading .panel-title a[data-toggle="collapse"] {
    font-size: 18px;
    font-weight: 500;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px 15px;
}

#faq .panel-heading .panel-title a[data-toggle="collapse"]::after {
    content: "-";
    display: block;
    position: absolute;
    line-height: 1;
    right: 1em;
    top: 50%;
    transform: translateY(-50%);
}

#faq .panel-heading .panel-title a[data-toggle="collapse"].collapsed::after {
    content: "+";
}

/*---------------------------------------
     Responsive styles            
  -----------------------------------------*/

@media (max-width: 980px) {
    p {
        font-size: 13px;
    }
    .custom-navbar .navbar-brand {
        font-size: 2rem;
    }
    .custom-navbar .nav li a {
        font-size: 11px;
        line-height: 20px;
    }
    #intro {
        height: 65vh;
    }
    #contact .contact_detail {
        background: #ffffff;
        padding: 10rem 3rem 10rem 5rem;
    }
}

@media (max-width: 768px) {
    .custom-navbar .navbar-brand {
        line-height: 20px;
    }
    #detail .col-md-4, #register form {
        padding-top: 32px;
    }
    .nav-tabs>li>a {
        font-size: 13px;
    }
    #program img {
        padding-bottom: 32px;
    }
    #sponsors img {
        padding-top: 22px;
    }
    #contact .contact_detail {
        margin-top: 82px;
    }
}

@media (max-width: 760px) {
    #intro {
        height: 100vh;
    }
}

/*---------------------------------------
     Scroll image under overview section     
  -----------------------------------------*/

.mySlides {
    display: none
}

.w3-left, .w3-right, .w3-badge {
    cursor: pointer
}

.w3-badge {
    height: 13px;
    width: 13px;
    padding: 0
}

.box {
    display: inline-block;
    vertical-align: baseline;
}

/*---------------------------------------
     FOUNDER CSS ANIMATION TO GET THEIR DETAILS
  -----------------------------------------*/

.our-team {
    position: relative;
    overflow: hidden;
    height: 310px;
}

.our-team .team-pic>img {
    width: 92%;
    height: auto;
}

.our-team .team-profile {
    background: #F2545F;
    padding: 0 24px;
    position: absolute;
    right: 0;
    bottom: -52%;
    width: 90%;
    min-height: 245px;
    transition: all 0.25s ease 0s;
}

.our-team:hover .team-profile {
    bottom: 0px;
}

.our-team .team-profile:before {
    content: "";
    border-bottom: 30px solid #F2545F;
    border-right: 262px solid transparent;
    position: absolute;
    top: -30px;
    left: 0;
}

.our-team .team-title {
    line-height: 22px;
}

.our-team .team-title:after {
    content: "";
    display: block;
    width: 10%;
    border-bottom: 4px solid #fff;
    padding-bottom: 5px;
}

.our-team .team-title a {
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    display: block;
    transition: all 0.2s linear 0s;
}

.our-team .team-title a:hover {
    color: #fff;
    text-decoration: none;
}

.our-team .team-title>small {
    font-size: 14px;
    color: #fff
}

.description a {
    font-size: 13px;
    color: #fff !important;
}

.description a:link {
    text-decoration: none !important;
}

.description a:visited {
    text-decoration: none !important;
}

.description a:hover {
    text-decoration: underline !important;
}

.description a:active {
    text-decoration: none !important;
}

.our-team .description {
    color: #fff;
    line-height: 25px;
}

.our-team .description:after {
    content: "";
    display: block;
    border-bottom: 1px solid #fff;
    margin-top: 10px;
}

.our-team .team-social {
    padding: 0;
}

.our-team .team-social>li {
    display: inline-block;
    margin-right: 12px;
}

.our-team .team-social>li>a {
    color: #fff;
    font-size: 15px;
}

.our-team .team-social>li>a:hover {
    text-decoration: none;
}

@media only screen and (max-width: 990px) {
    .our-team {
        width: 310px;
        margin: 0 auto 15px;
    }
    .our-team .team-profile:before {
        border-right: 300px solid transparent;
    }
}

@media only screen and (max-width: 359px) {
    .our-team {
        width: auto;
    }
}

/*---------------------------------------
     nt-example1 ANNOUNCEMENT SCROLLING UP
  -----------------------------------------*/

#nt-example1-container {
    text-align: center;
}

#nt-example1-container i {
    font-size: 15px;
    margin: 8px;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#nt-example1-container i:hover {
    color: #333;
}

#nt-example1 li {
    background-color: #f9f9f9;
    overflow: hidden;
    min-height: 80px;
    padding: 5px;
    text-align: left;
    border-bottom: 1px dotted #2c8162;
}

#nt-example1 li:hover {
    background: #FFF;
}

#nt-example1-container ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

/* CURRENT PROJECT
============================================================================================ */

.features_causes {
    padding-bottom: 100px;
}

@media (max-width: 991px) {
    .features_causes {
        padding-bottom: 40px;
    }
}

.features_causes .card {
    border-radius: 0px;
    border: 0;
    background-color: #fff;
    transition: all 300ms linear 0s;
    margin-bottom: 30px;
    overflow: hidden;
}

.features_causes .card p {
    margin-bottom: 0;
}

.features_causes .card .card-body {
    padding: 0;
}

.features_causes .card .card-img-top {
    border-radius: 0px;
}

.features_causes .card figure {
    overflow: hidden;
    margin: 0;
}

.features_causes .card figure img {
    transition: all 300ms linear 0s;
}

.features_causes .card .card_inner_body {
    padding: 40px 30px;
}

.features_causes .card .card_inner_body h4 {
    font-size: 20px;
}

@media (max-width: 1199px) and (min-width: 992px) {
    .features_causes .card .card_inner_body h4 {
        font-size: 16px;
    }
}

.features_causes .card .raised_goal {
    margin-top: 25px;
    margin-bottom: 20px;
}

.features_causes .card .raised_goal span {
    color: #F2545F;
}

.features_causes .card .donation .primary_btn {
    line-height: 34px;
    padding: 0 20px;
}

.features_causes .card .donation span {
    color: #F2545F;
}

.features_causes .card .card-text {
    margin-bottom: 0;
}

.features_causes .card:hover {
    box-shadow: 0px 12px 40px rgba(153, 153, 153, 0.2);
}

.features_causes .card:hover img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
}

.features_causes .card:hover .donation .primary_btn {
    background: #47A4A5;
    color: #fff;
    border: 1px solid #47A4A5;
}

.features_causes .card:visited .donation .primary_btn {
    background: #F2545F;
    color: #fff;
    border: 1px solid #F2545F;
}

.justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

/* END OF CURRRENT PROJECT
  ============================================================================================ */

/* Start About Us Area css
  ============================================================================================ */

.about_area .about_thumb {
    overflow: hidden;
    display: inline-block;
}

.about_area .about_content h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

@media (max-width: 767px) {
    .about_area .about_content h2 {
        font-size: 25px;
    }
}

@media (max-width: 1199px) {
    .about_area .about_content h2 br {
        display: none;
    }
}

.about_area .about_content p:last-of-type {
    margin-bottom: 0;
}

.about_area .about_content .primary_btn {
    margin-top: 35px;
}

.about_area .about_left {
    padding-right: 0;
    padding-left: 30px;
}

@media (max-width: 991px) {
    .about_area .about_left {
        padding-right: 15px;
        margin-top: 0px;
        margin-bottom: 40px;
    }
}

.about_area .about_right {
    padding: 110px 60px;
    background: #ffffff;
    margin-top: 70px;
    margin-left: -40px;
    z-index: 2;
    box-shadow: 0px 5px 40px rgba(153, 153, 153, 0.2);
}

@media (max-width: 1199px) {
    .about_area .about_right {
        padding: 50px 30px;
    }
}

@media (max-width: 991px) {
    .about_area .about_right {
        margin-left: 0;
        margin-top: 20px;
    }
}

/* Smart class on image text
  ============================================================================================ */

.containerclass {
    position: relative;
}

.top-leftclass {
    position: absolute;
    top: 30%;
    left: 16px;
    width: 60%;
}

.top-rightclass {
    position: absolute;
    top: 20%;
    left: 70%;
    width: 60%;
}

/* Smart class
  ============================================================================================ */

#leadership {
    background-color: #fffbfc;
    padding: 100px 0;
}

#leadership .accordion .card {
    border: none;
}

#leadership .accordion .card img {
    height: 64px;
    width: 64px;
}

#leadership .accordion .card .accordion-group .card-header {
    background-color: #fffbfc;
    padding: 10px;
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px);
}

#leadership .accordion .card .accordion-group .card-header:hover {
    background-color: #edb348;
}

#leadership .accordion .card .accordion-group .card-header a {
    text-decoration: none;
    color: #000;
}

#leadership .accordion .card .accordion-group .card-header:hover a, #leadership .accordion .card .accordion-group .card-header:hover p {
    color: white;
}

/* FEEDBACK BUTTON
#feedback a {
    display: block;
    position: fixed;
    top: 50%;
    right: -99px;
    background: #F2545F;
    color: whitesmoke;
    transform: rotate(90deg);
    float: right;
    transform-origin: left top 0;
    margin-left: 80px;
    padding: 10px;
    z-index: 3;
}
  ============================================================================================ */

#feedback a {
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    background: #F2545F;
    color: whitesmoke;
    transform: rotate(360deg);
    float: right;
    transform-origin: left top 0;
    /*margin-left: 80px;*/
    padding: 10px 15px;
    z-index: 3;
}
#feedback a:hover {
    text-decoration: underline !important;
  }

#feedback1 a {
    display: block;
    position: fixed;
    top: 70%;
    right: -125px;
    background: #F2545F;
    color: whitesmoke;
    transform: rotate(90deg);
    float: right;
    transform-origin: left top 0;
    margin-left: 80px;
    padding: 10px;
    z-index: 0;
}
/* Testimonial bd986b*/

.demo {
    background: #444;
}

.testimonial {
    background: whitesmoke;
    text-align: center;
    padding: 30px 30px 50px;
    margin: 0 15px 100px;
    position: relative;
    height: 300px;
}

.testimonial:before, .testimonial:after {
    content: "";
    border-top: 40px solid whitesmoke;
    border-right: 125px solid transparent;
    position: absolute;
    bottom: -40px;
    left: 0;
}

.testimonial:after {
    border-right: none;
    border-left: 125px solid transparent;
    left: auto;
    right: 0;
}

.testimonial .icon {
    display: inline-block;
    font-size: 80px;
    color: #444;
    margin-bottom: 20px;
    opacity: 0.2;
}

.testimonial .description {
    font-size: 15px;
    color: #777;
    text-align: left;
    margin-bottom: 30px;
    opacity: 0.8;
    height: 85px;
}

.testimonial .testimonial-content {
    width: 100%;
    position: absolute;
    left: 0;
}

.testimonial .pic {
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0;
    /*#daad86;*/
    overflow: hidden;
    z-index: 1;
    position: relative;
}

.testimonial .pic img {
    width: 90px;
    height: auto;
}

.testimonial .title {
    font-size: 15px;
    font-weight: bold;
    color: whitesmoke;
    text-transform: capitalize;
    margin: 0 0 5px 0;
}

.testimonial .post {
    display: block;
    font-size: 14px;
    color: whitesmoke;
    /*ffd9b8;*/
}

.owl-theme .owl-controls {
    margin-top: 0;
}

.owl-theme .owl-controls .owl-page span {
    width: 32px;
    height: 10px;
    background: whitesmoke;
    border: 2px solid #444;
    margin: 20px 5px 5px 5px;
    opacity: 1;
}

.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
    background: #F2545F;
    border-color: whitesmoke;
}

@media only screen and (max-width: 650px) and (min-width: 400px) {
    .testimonial:before {
        border-right: 325px solid transparent;
    }
    .testimonial:after {
        border-left: 325px solid transparent;
    }
}

/*Login form 1*/

.thover {
    top: 0;
    left: 0;
    position: fixed;
    background: #000;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    z-index: 5000;
}

.tpopup {
    position: fixed;
    width: 60%;
    background: #fff;
    left: 20%;
    top: 5%;/*16%;*/
    border-radius: 5px;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 0 10px 0 #000;
    z-index: 5001;
}
@media (max-width:880px){.tpopup {
    position: fixed;
    width: 90%;
    background: #fff;
    left: 5%;
    top: 35%;
    border-radius: 5px;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 0 10px 0 #000;
    z-index: 5001;
}}

.tclose {
    position: absolute;
    background: #000;
    color: white;
    right: -15px;
    top: -15px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 8px;
    font-weight: bold;
    font-family: 'Arial Black', Arial, sans-serif;
    cursor: pointer;
    box-shadow: 0 0 10px 0 #000;
}

.tclose:hover {
    background: #F2545F;
}