    /*=========================
     HEADER HOME CSS-CUSTOM     
============================== */
    
    .custom-navbar {
        margin-bottom: 0;
        background-color: #484644;
    }
    
    @media(min-width:768px) {
        .custom-navbar {
            padding: 20px 0;
            border-bottom: 0;
            background: 0 0;
        }
        .top-nav-collapse {
            background: #484644;
            padding: 0;
        }
    }
    
    .containerH {
        clear: both;
        overflow: auto;
        background-color: #484644;
    }
    
    navH {
        float: right;
    }
    
    .logoH img {
        float: left;
        margin: 7px 0px 5px 5px;
    }
    
    .navbarH {
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
        line-height: 23px;
    }
    
    .navbarH a {
        float: left;
        font-size: 13px;
        color: whitesmoke;
        text-align: center;
        padding: 15px 10px;
        text-decoration: none !important;
    }
    
    a.active {
        background-color: #f2545f;
        color: whitesmoke !important;
    }
    
    .navbarH .icon {
        display: none;
    }
    
    .dropdownH {
        float: left;
        overflow: hidden;
        vertical-align: middle;
    }
    
    .navbarH a:hover,
    .dropdownH:hover .dropbtnH {
        background-color: #f2545f;
        color: whitesmoke !important;
    }
    
    .navbarH a:link,
    .navbarH a:visited,
    .navbarH a:hover,
    .navbarH a:active {
        color: whitesmoke;
    }
    
    .dropdownH a:link,
    .dropdownH a:visited,
    .dropdownH a:hover,
    .dropdownH a:active {
        color: black;
    }
    
    .dropdownH .dropbtnH {
        font-size: 13px;
        border: none;
        outline: none;
        color: whitesmoke;
        padding: 15px 10px;
        background-color: inherit;
        font-family: inherit;
        line-height: 23px;
    }
    
    .dropdown-contentH {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    
    .dropdown-contentH a {
        float: none;
        color: #000;
        padding: 10px 10px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    
    .dropdown-contentH a:hover {
        background-color: #f2545f;
        color: whitesmoke;
    }
    
    .dropdownH:hover .dropdown-contentH {
        display: block;
    }
    
    @media (max-width: 880px) {
        .navbarH a:not(:first-child),
        .dropdownH .dropbtnH {
            display: none;
        }
        .navbarH a.icon {
            float: right;
            display: block;
        }
    }
    
    @media screen and (max-width: 800px) {
        .navbarH.responsive {
            position: relative;
        }
        .navbarH.responsive a.icon {
            position: absolute;
            right: 0;
            top: 0;
        }
        .navbarH.responsive a {
            float: none;
            display: block;
            text-align: left;
        }
        .navbarH.responsive .dropdownH {
            float: none;
        }
        .navbarH.responsive .dropdown-contentH {
            position: relative;
        }
        .navbarH.responsive .dropdownH .dropbtnH {
            display: block;
            width: 100%;
            text-align: left;
        }
        navH {
            float: right;
            overflow: hidden;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 100;
        }
        .navbarHo a {
            padding: 14px !important;
        }
    }
    
    .navbar-fixed-top {
        border-width: 0 !important;
    }
    /*For other page*/
    
    .containerHo {
        clear: both;
        overflow: auto;
        background-color: #484644;
    }
    
    .logoHo img {
        float: left;
        margin: 7px 0px 5px 5px;
        background-color: #484644;
    }
    
    .navbarHo {
        overflow: hidden;
        background-color: #484644;
        display: inline-block;
        vertical-align: middle;
        line-height: 23px;
    }
    
    .navbarHo a {
        float: left;
        font-size: 13px;
        color: whitesmoke;
        text-align: center;
        padding: 15px 10px;
        text-decoration: none;
    }
    
    .navbarHo .icon {
        display: none;
    }
    
    .dropdownHo {
        float: left;
        overflow: hidden;
        vertical-align: middle;
    }
    
    .dropdownHo .dropbtnHo {
        font-size: 13px;
        border: none;
        outline: none;
        color: whitesmoke;
        padding: 15px 10px;
        background-color: inherit;
        font-family: inherit;
        line-height: 23px;
    }
    
    .navbarHo a:hover,
    .dropdownHo:hover .dropbtnHo {
        background-color: #f2545f;
        color: whitesmoke !important;
    }
    
    .navbarHo a:link,
    .navbarHo a:visited,
    .navbarHo a:hover,
    .navbarHo a:active {
        color: whitesmoke;
    }
    
    .dropdownHo a:link,
    .dropdownHo a:visited,
    .dropdownHo a:hover,
    .dropdownHo a:active {
        color: black;
    }
    
    .dropdown-contentHo {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    
    .dropdown-contentHo a {
        float: none;
        color: #000;
        padding: 10px 10px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    
    .dropdown-contentHo a:hover {
        background-color: #f2545f;
        color: whitesmoke;
    }
    
    .dropdownHo:hover .dropdown-contentHo {
        display: block;
    }
    
    @media (max-width: 880px) {
        .navbarHo a:not(:first-child),
        .dropdownHo .dropbtnHo {
            display: none;
        }
        .navbarHo a.icon {
            float: right;
            display: block;
        }
    }
    
    @media screen and (max-width: 800px) {
        .navbarHo.responsive {
            position: relative;
        }
        .navbarHo.responsive a.icon {
            position: absolute;
            right: 0;
            top: 0;
        }
        .navbarHo.responsive a {
            float: none;
            display: block;
            text-align: left;
        }
        .navbarHo.responsive .dropdownHo {
            float: none;
        }
        .navbarHo.responsive .dropdown-contentHo {
            position: relative;
        }
        .navbarHo.responsive .dropdownHo .dropbtnHo {
            display: block;
            width: 100%;
            text-align: left;
        }
    }
    
    #mynavbarHo.navbar {
        position: unset;
        min-height: unset;
        margin-bottom: unset;
        border: none;
        border-radius: unset;
    }
    /*---------------------------------------
     PACE - PRELOADER
  -----------------------------------------*/
    
    .pace {
        -webkit-pointer-events: none;
        pointer-events: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }
    
    .pace-inactive {
        display: none;
    }
    
    .pace .pace-progress {
        background: #f25560;
        position: fixed;
        z-index: 2000;
        top: 0;
        right: 100%;
        width: 100%;
        height: 2px;
    }
    /*=========================
       FOOTER HOME CSS-CUSTOM     
  ============================== */
    /* The footer is fixed to the bottom of the page */
    
    footer {
        position: fixed;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    
    @media (max-height:800px) {
        footer {
            position: static;
        }
        header {
            padding-top: 40px;
        }
    }
    
    .footer-distributed {
        background-color: #292929;
        box-sizing: border-box;
        width: 100%;
        text-align: left;
        /*font: bold 16px sans-serif;*/
        padding: 10px 20px 10px 20px;
        margin-top: 20px;
    }
    
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: inline-block;
        vertical-align: middle;
    }
    /* Footer left */
    
    .footer-distributed .footer-left {
        width: 28%;
    }
    
    .footer-distributed h3 {
        color: #ffffff;
        font: normal 36px 'Comfortaa', Comfortaa;
        margin: 0;
    }
    /* The company logo */
    
    .footer-distributed .footer-left img {
        width: 30%;
    }
    
    .footer-distributed h3 span {
        color: #e0ac1c;
    }
    /* Footer links */
    
    .footer-distributed .footer-links {
        color: #ffffff;
        font-size: 13px;
        margin: 20px 0 12px;
    }
    
    .footer-distributed .footer-links a {
        display: inline-block;
        line-height: 1.8;
        text-decoration: none;
        color: inherit;
    }
    
    .footer-distributed .footer-company-name {
        color: #8f9296;
        font-size: 13px;
        font-weight: normal;
        margin: 0;
    }
    /* Footer Center */
    
    .footer-distributed .footer-center {
        width: 45%;
    }
    
    .footer-distributed .footer-center i {
        background-color: #33383b;
        color: #ffffff;
        font-size: 25px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
        line-height: 34px;
        margin: 6px 15px;
        vertical-align: middle;
    }
    
    .footer-distributed .footer-center i.fa-envelope {
        font-size: 17px;
        line-height: 38px;
    }
    
    .footer-distributed .footer-center p {
        display: inline-block;
        color: #ffffff;
        vertical-align: middle;
        margin: 0;
        font-size: 14px;
    }
    
    .footer-distributed .footer-center p span {
        display: block;
        font-weight: normal;
        font-size: 12px;
        line-height: 2;
    }
    
    .footer-distributed .footer-center p a {
        color: #e0ac1c;
        text-decoration: none;
    }
    /* Footer Right */
    
    .footer-distributed .footer-right {
        width: 25%;
    }
    
    .footer-distributed .footer-company-about {
        line-height: 20px;
        color: #92999f;
        font-size: 13px;
        font-weight: normal;
        margin: 0;
    }
    
    .footer-distributed .footer-company-about span {
        display: block;
        color: #ffffff;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    .footer-distributed .footer-icons i {
        margin-top: 18px;
        font-size: 17px;
        line-height: 0px;
    }
    
    .footer-distributed .footer-icons a {
        display: inline-block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        background-color: #33383b;
        border-radius: 2px;
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        line-height: 35px;
        margin-right: 0px;
        margin-bottom: 5px;
    }
    /* Here is the code for Responsive Footer */
    /* You can remove below code if you don't want Footer to be responsive */
    
    @media (max-width: 880px) {
        .footer-distributed .footer-left,
        .footer-distributed .footer-center,
        .footer-distributed .footer-right {
            display: block;
            width: 100%;
            margin-bottom: 0px;
            text-align: center;
        }
        .footer-distributed .footer-center i {
            margin-left: 10;
            margin-right: 0;
        }
    }