<!DOCTYPE html>
<html lang="en">
<head>


<title>About us</title>
</head>
    
<meta name="description" content="">
<meta name="author" content="">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


<link rel="shortcut icon" href="/images/logo/favicon.ico" type="image/x-icon" />
<script src="/js/jquery.js"></script>
<script>
    $(function(){
        $("#header").load("/header.html");
        $("#footer").load("/footer.html");
    });</script>
<link rel="stylesheet" href="/css/HeaderFooter.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<!-- Main css -->
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/addstyle.css">
<link rel="stylesheet" href="/css/owl.theme.css">
<link href="/css/owl.carousel.css" rel="stylesheet" type="text/css">

<!-- =========================
     NAVIGATION LINKS     
============================== -->	

<body>
	
<div id="header"></div>

<!-- NAVIGATION PATH -->

	<img src="/images/about/about-us.jpg" alt="" width="100%"/><br>
    <div style="margin: 0.3%;"><ps class="marginleft notice" style="margin-left: 3%;">
        <a href="/index">Home</a> &#62; About us</ps>
    </div>	
    
<!-- =========================
    ABOUT US SECTION   
============================== -->
<section id="overview" style="padding: 5% 5.5%; background-color: #fff">
					
<div class="row1">
  <div class="column6">
				
				<h2>Baby Step</h2><br>
				<p>Initially, we started our journey in Lucknow with 2 kids and 1 volunteer however with time it turned to a team of 50+ kids, age group of 6 to 22 and 25 volunteers/sponsors (personal level as well as organization level).</p>

				<p>Our primary goal was to find out the gap between school and kids which leads to school dropouts. For the same RSSI also conducted a 1-month educational program in one of Lucknow's government school (Primary and Pre-secondary School, Gulam Hussain Purwa). Post educational program servery result says the main reasons for school dropouts are unawareness and complicated admission process, lack of teachers/parents involvement and poor infrastructure of the school.</p>

				<p>Focusing on that in the very first batch we identified 16 underprivileged, school dropouts kids and prepared them for school admission. Making kids aware of education, adjusting their schedule as most of the kids were involved in household chores in a different form, taking approval from their parents and overall social restrictions were the main challenges we faced during this process. Finally, on April 3, 2018, we accomplished our first goal and the batch started going to school.</p>
				
			</div>
			
			
  <div class="column6a">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
     
    </ol>

    
    <div class="carousel-inner">

      <div class="item active">
        <img src="/images/about/baby-step.jpg" alt="Our Purpose" class="img-responsive">
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
      </div>

      <div class="item">
        <img src="/images/about/baby-step1.jpg" alt="Our Purpose" class="img-responsive">
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
      </div>

    
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="fas fa-chevron-left glyphicon-chevron-right"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="fas fa-chevron-right glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
  </div>
</div>
</div>
		</div>
</section>

<!-- =========================
    WHAT WE DID SECTION   
============================== -->
	
<section id="calender" style="padding: 5% 5.5%; background-color: #f9f9f9">


	<div class="row1">
<div class="column3 dnd marginleft">
	<!--<div class="wow fadeInUp col-md-6 col-sm-6" data-wow-delay="0.6s">-->
<h2>What we did so far?</h2><br>
		
<ul>
<li><p>Mission Education: A regional level program on education, health care and overall development. Mainly covering Gomti Nagar area including Vibhuti Khand, Vishesh Khand, Vikrant Khand, and Vijayanti Khand.</p>
<ul>
	<br><ol type = "1">
<li style="padding-left:0.2em"><p>Free regular classes (up to Intermediate +2).</p></li>
<li style="padding-left:0.2em"><p>Educational aid up to <span style = "font-family:arial">&#x20B9; </span>12,000 under Swabhiman Prakalpa.</p></li>
<li style="padding-left:0.2em"><p>Blanket, educational stationary, cycle distribution under donation drive.</p></li>
<li style="padding-left:0.2em"><p>Outdoor educational tour at Nawab Wajid Ali Shah Zoological Garden and Lucknow Metro.</p></li>
<li style="padding-left:0.2em"><p>Cultural celebration</p></li>
</ol></ul>
</li>
<br>
<li><p>Awareness, sensitization on child sexual abuse.</p></li>
<li><p>Menstrual Hygiene sensitization and donation of Sanitary Pads to underprivileged girls and women.</p></li>
<li><p>Tree plantation, Swachh Bharat Mission and generic personal hygiene drive.</p></li></ul></div>


	<!--</div>
			
	<div class="wow fadeInUp col-md-6 col-sm-6" data-wow-delay="0.9s">-->
		<div class="column4">
			
		<embed width="100%" height="460" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRYPsFrA9JKuO-EguCbk5uwy51XZsNfHcCV-4efMSehrfsADbICSEApURAGxpLmAcBN4qm78TXrkPWS/pubhtml?gid=1626532305&single=true"></embed>
	</div>

</div>
<!--</div>-->
</section>

<!-- =========================
     SCRIPTS   
============================== -->
<script src="/js/pace.js"></script>
<script src="/js/fontawsome.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.parallax.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/custom.js"></script>
<script>
	document.addEventListener("DOMContentLoaded", function() {
	var lazyloadImages = document.querySelectorAll("img.lazy");    
	var lazyloadThrottleTimeout;
	
	function lazyload () {
		if(lazyloadThrottleTimeout) {
		clearTimeout(lazyloadThrottleTimeout);
		}    
		
		lazyloadThrottleTimeout = setTimeout(function() {
			var scrollTop = window.pageYOffset;
			lazyloadImages.forEach(function(img) {
				if(img.offsetTop < (window.innerHeight + scrollTop)) {
				img.src = img.dataset.src;
				img.classList.remove('lazy');
				}
			});
			if(lazyloadImages.length == 0) { 
			document.removeEventListener("scroll", lazyload);
			window.removeEventListener("resize", lazyload);
			window.removeEventListener("orientationChange", lazyload);
			}
		}, 20);
	}
	
	document.addEventListener("scroll", lazyload);
	window.addEventListener("resize", lazyload);
	window.addEventListener("orientationChange", lazyload);
  });
  </script>
	
<!-- =========================
     FOOTER   
============================== -->
<!-- Back top -->
<a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>	
<div id="footer"></div>	
</body>
</html>