<!DOCTYPE html>
<html lang="en">

<head>
    <!--
RSSI
http://www.rssi.in
-->
    <title>Footer</title>
</head>

<body>
    <!-- =========================
     FOOTER   
============================== -->

    <section id="footer" class="footer-distributed">



        <div class="footer-left">
            <img src="/images/logo/WebsiteHeaderLogo.png" alt="RSSI Logo" />
            <h3>Grow<span>Together</span></h3>

            <p class="footer-links">
                <a href="/index">Home</a> |

                <a href="/about-us">About</a> |
                <a href="/contact">Contact</a> |
                <a href="/website-disclaimer">Disclaimer</a>

            </p>
            <p class="footer-company-name">Reg. Number - U80101WB2020NPL237900</p>
            <p class="footer-company-name">Official Site of RSSI © 2020. All Rights Reserved.</p><br>
            <p id="google_translate_element"></p>
        </div>

        <div class="footer-center">
            <div>

                <i class="fas fa-map-marker-alt" style="font-size:15px;"></i>
                <!--<p>Lodha Splendora, Vivant G 803<span>Ghodbunder Rd, Bhayandarpada, Thane
						West, Thane, Maharashtra
						400615</span>
				</p>-->
                <p>C 1/117 (2nd Floor)<span>Vishesh Khand 1, Gomti Nagar, Lucknow, Uttar Pradesh 226010
			</div>

			<div>
				<i class="fas fa-mobile-alt" style="font-size:15px;"></i>
				<p>+91 7980168159, +91 9717445551</p>
			</div>
			<div>
				<i class="fas fa-at" style="font-size:15px;"></i>
				<p><a href="mailto:info@rssi.in">info@rssi.in</a></p>
			</div>
		</div>
		<div class="footer-right">
			<p class="footer-company-about">

				<iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3559.2751943560916!2d81.01270751436473!3d26.862996468696917!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x399be3fc575228e3%3A0xbbc4182b61aa1609!2sRSSI!5e0!3m2!1sen!2sin!4v1594978845672!5m2!1sen!2sin"
					width="100%" height="150" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
					tabindex="0"></iframe>


				<br><br>Site Contents owned, designed, developed, maintained and updated by the IT Department, RSSI.</p>
			<br>




			<div style="display: inline-block;">
				<p style="color: #92999f;">Visitor count: </p>
			</div>

			<div style="display: inline;" class="statcounter"><a title="hit counter" href="https://statcounter.com/"
					target="_blank"><img class="statcounter" src="https://c.statcounter.com/11357816/0/b3dd2d5c/0/"
						alt="hit counter"></a></div>

			<!-- End of Statcounter Code -->


			<br>
			<div class="footer-icons">
				<a href="https://www.facebook.com/rssi.in"><i class="fab fa-facebook"></i></a>
				<a href="https://g.page/rssi-mumbai/review?rc"><i class="fab fa-google"></i></a>
				<a href="https://www.instagram.com/rssi_edu/"><i class="fab fa-instagram"></i></a>
				<a href="https://twitter.com/login?lang=en"><i class="fab fa-twitter"></i></a>
				<a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
			</div>
		</div>
	</section>
</body>
<style>.prebanner{display: none;}</style>
<!--protected by reCAPTCHA-->
<script src="https://www.google.com/recaptcha/api.js?render=6LfJRc0aAAAAAEhNPCD7ju6si7J4qRUCBSN_8RsL"></script>
    <script>
        function onClick(e) {
            e.preventDefault();
            grecaptcha.ready(function() {
                grecaptcha.execute('6LfJRc0aAAAAAEhNPCD7ju6si7J4qRUCBSN_8RsL', {
                    action: 'submit'
                }).then(function(token) {
                    // Add your logic to submit to your backend server here.
                });
            });
        }
    </script>
	 <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE,includedLanguages: "hi,en,bn" }, 'google_translate_element');
        }
 </script>

    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</html>