<!DOCTYPE html>
<html lang="en">

<head>
    <title>Header</title>
</head>
<link rel="stylesheet" href="/css/login.css">

<body data-spy="scroll" data-offset="50" data-target=".navbar-collapse">

    <!-- =========================
     NAVIGATION LINKS     
============================== -->
    <div class="containerHo">

        <div class="logoHo">
            <a href="/index">
                <img src="/images/logo/WebsiteHeaderLogo.png" alt="RSSI Logo" width="140px" /></a>
        </div>
        <navh>
            <div class="navbarHo navbar" id="mynavbarHo">


                <a href="/index" class="smoothScroll">Home</a>

                <div class="dropdownHo">
                    <button class="dropbtnHo">NGO <i class="fa fa-caret-down"></i></button>
                    <div class="dropdown-contentHo">
                        <a href="/about-us" class="smoothScroll">History</a>
                        <a href="/our-team" class="smoothScroll">Our team</a>
                        <a href="https://drive.google.com/file/d/1S2aUfIhiU-wmEF6qw9MSYPao4dm2BPly/view" class="smoothScroll" target="blank">NGO Calendar</a>
                        <a href="https://drive.google.com/file/d/1Z28N7bOJf2Pog9-WzY4Lw4oLr96LZ-ZG/view" class="smoothScroll" target="blank">Holiday list</a>
                    </div>
                </div>

                <a href="/media-center" class="smoothScroll">Media center</a>
                <a href="/donation-portal" class="smoothScroll">Donate</a>



                <div class="dropdownHo">
                    <button class="dropbtnHo">Get involved <i class="fa fa-caret-down"></i></button>
                    <div class="dropdown-contentHo">
                        <a href="/registration" class="smoothScroll">Registration</a>
                        <a href="https://drive.google.com/file/d/1IBuhQ0PnwBaZBE8gyJsvAiIqFF09WgXg/view" class="smoothScroll" target="blank">Terms and Conditions</a>
                        <a href="#" class="smoothScroll" id="secure_link_mt">Mandatory training</a>
                    </div>
                </div>


                <div class="dropdownHo">
                    <button class="dropbtnHo">Students' corner <i class="fa fa-caret-down"></i></button>
                    <div class="dropdown-contentHo">
                        <a href="/admission" class="smoothScroll">Admission</a>
                        <a href="#" class="smoothScroll" id="secure_link_classroom">Smart classroom</a>
                        <a href="#" class="smoothScroll" id="secure_link_library">Digital library</a>
                        <a href="/online-exam" class="smoothScroll">Online Exam</a>
                        <a href="/result-portal" class="smoothScroll">Result portal</a>
                        <a href="/scholarship-programs" class="smoothScroll">Scholarship programs</a>
                        <a href="https://drive.google.com/file/d/1--hLyh7RsIjLZ8V-krK3y6Jc7M2R-6fh/view" class="smoothScroll">Code of Conduct</a>
                        <a href="/miscellaneous" class="smoothScroll">Miscellaneous</a>

                    </div>
                </div>

                <!--<a href="/swanirbhar" class="smoothScroll">Swanirbhar</a>-->
                <div class="dropdownHo">
                    <button class="dropbtnHo">e-Certificate <i class="fa fa-caret-down"></i></button>
                    <div class="dropdown-contentHo">
                        <a href="/certificate-student" class="smoothScroll">Student</a>
                        <a href="/certificate-assoc" class="smoothScroll">Associate</a>
                        <a href="https://drive.google.com/file/d/1tHMtne1_2a9dakskzhfFRxtS5qt5JNnL/view" target="_blank" class="smoothScroll">Gems criteria</a>
                    </div>
                </div>

                <a href="#" class="smoothScroll" id="secure_link_el">e-Learning</a>

                <a href="https://docs.google.com/spreadsheets/d/1mjVN9VET3_ToFGDWRSSl7dAZO1sH1kNXgI66qPWfco8/edit?usp=sharing" rel="noopener noreferrer" target="_blank" class="smoothScroll">Phoenix</a>

                <a href="https://sites.google.com/view/rssi-login" rel="noopener
						noreferrer" target="_blank" class="smoothScroll"><i class="fas fa-user" style="font-size:15px;"></i></a>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i
							class="fas fa-bars"
							style="font-size:20px; color: whitesmoke;"></i></a>


            </div>
        </navh>
    </div>

    <!--------------- 
		NEED TO COPY THIS SET FOR EVERY CECURED LINK -- SMART CLASSROOM
	------------------------------------------------------>

    <div id="thover" class="hidden thover"></div>
    <div id="tpopup" class="hidden tpopup" style="padding:20px; position: fixed;">
        <!--<img src="/images/eve-day.jpg" class="img-fluid img-responsive">-->
        <div class="login-card">
            <h1>Log-in</h1><br>
            <form action="/secure/smart-classroom" method="post">
                <!--Here we have to mention the secured URL path-->
                <input type="text" name="user" placeholder="Username">
                <input type="password" name="code" placeholder="Password">
                <!--password name id always "code"-->
                <input type="submit" name="login" class="login login-submit" value="login">
            </form>

            <div class="login-help">
                <br><a>Forgot Password? Connect with RSSI admin team</a>
            </div>
        </div>
        <div id="tclose" class="tclose">X</div>
    </div>


    <!--secure link-->
    <script>
        $(document).ready(function() {
            console.log("loading now...");
            $("#secure_link_classroom").click(function(event) {
                event.preventDefault();
                $("#tpopup").toggleClass('hidden');
                $("#thover").toggleClass('hidden');
            });
            $("#tclose").click(function() {
                $("#tpopup").toggleClass('hidden');
                $("#thover").toggleClass('hidden');
            });
        });
    </script>


    <!--------------- 
		NEED TO COPY THIS SET FOR EVERY SECURED LINK -- DIGITAL LIBRARY
	------------------------------------------------------>

    <div id="thover1" class="hidden thover"></div>
    <div id="tpopup1" class="hidden tpopup" style="padding:20px; position: fixed;">
        <!--<img src="/images/eve-day.jpg" class="img-fluid img-responsive">-->
        <div class="login-card">
            <h1>Log-in</h1><br>
            <form action="/secure/digital-library" method="post">
                <!--Here we have to mention the secured URL path-->
                <input type="text" name="user" placeholder="Username">
                <input type="password" name="code" placeholder="Password">
                <!--password name id always "code"-->
                <input type="submit" name="login" class="login login-submit" value="login">
            </form>

            <div class="login-help">
                <br><a>Forgot Password? Connect with RSSI admin team</a>
            </div>
        </div>
        <div id="tclose1" class="tclose">X</div>
    </div>


    <!--secure link-->
    <script>
        $(document).ready(function() {
            console.log("loading now...");
            $("#secure_link_library").click(function(event) {
                event.preventDefault();
                $("#tpopup1").toggleClass('hidden');
                $("#thover1").toggleClass('hidden');
            });
            $("#tclose1").click(function() {
                $("#tpopup1").toggleClass('hidden');
                $("#thover1").toggleClass('hidden');
            });
        });
    </script>

    <!--------------- 
		NEED TO COPY THIS SET FOR EVERY SECURED LINK -- WBT
	------------------------------------------------------>

    <div id="thover11" class="hidden thover"></div>
    <div id="tpopup11" class="hidden tpopup" style="padding:20px; position: fixed;">
        <!--<img src="/images/eve-day.jpg" class="img-fluid img-responsive">-->
        <div class="login-card">
            <h1>Log-in</h1><br>
            <form action="/secure1/wbt" method="post">
                <!--Here we have to mention the secured URL path-->
                <input type="text" name="user" placeholder="Username">
                <input type="password" name="code" placeholder="Password">
                <!--password name id always "code"-->
                <input type="submit" name="login" class="login login-submit" value="login">
            </form>

            <div class="login-help">
                <br><a>Forgot Password? Connect with RSSI admin team</a>
            </div>
        </div>
        <div id="tclose11" class="tclose">X</div>
    </div>


    <!--secure link-->
    <script>
        $(document).ready(function() {
            console.log("loading now...");
            $("#secure_link_mt").click(function(event) {
                event.preventDefault();
                $("#tpopup11").toggleClass('hidden');
                $("#thover11").toggleClass('hidden');
            });
            $("#tclose11").click(function() {
                $("#tpopup11").toggleClass('hidden');
                $("#thover11").toggleClass('hidden');
            });
        });
    </script>

    <!--------------- 
		NEED TO COPY THIS SET FOR EVERY CECURED LINK -- e-Learning
	------------------------------------------------------>

    <div id="thover111" class="hidden thover"></div>
    <div id="tpopup111" class="hidden tpopup" style="padding:20px; position: fixed;">
        <!--<img src="/images/eve-day.jpg" class="img-fluid img-responsive">-->
        <div class="login-card">
            <h1>Log-in</h1><br>
            <form action="/secure1/e-learning" method="post">
                <!--Here we have to mention the secured URL path-->
                <input type="text" name="user" placeholder="Username">
                <input type="password" name="code" placeholder="Password">
                <!--password name id always "code"-->
                <input type="submit" name="login" class="login login-submit" value="login">
            </form>

            <div class="login-help">
                <br><a>Forgot Password? Connect with RSSI admin team</a>
            </div>
        </div>
        <div id="tclose111" class="tclose">X</div>
    </div>
    <!--secure link-->
    <script>
        $(document).ready(function() {
            console.log("loading now...");
            $("#secure_link_el").click(function(event) {
                event.preventDefault();
                $("#tpopup111").toggleClass('hidden');
                $("#thover111").toggleClass('hidden');
            });
            $("#tclose111").click(function() {
                $("#tpopup111").toggleClass('hidden');
                $("#thover111").toggleClass('hidden');
            });
        });
    </script>
    <script src="/js/active-nav-bar.js"></script>
</body>

</html>