<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Header</title>
	</head>
	<link rel="stylesheet" href="/css/login.css">
	<body data-spy="scroll" data-offset="50" data-target=".navbar-collapse">

		<!-- =========================
     NAVIGATION LINKS     
============================== -->
		<div class="containerHo">

			<div class="logoHo"><a href="/index">
					<img src="/images/logo/WebsiteHeaderLogo.png" alt="RSSI Logo" width="140px"
						/></a></div>
			<navh>
				<div class="navbarHo navbar" id="mynavbarHo">


					<a href="/index" class="smoothScroll">Home</a>

					<a href="/about-us" class="smoothScroll">About us</a>
					<a href="/media-center" class="smoothScroll">Media center</a>
					<a href="/donation-portal" class="smoothScroll">Donate</a>



					<div class="dropdownHo">
						<button class="dropbtnHo">Get involved <i class="fa fa-caret-down"></i></button>
						<div class="dropdown-contentHo">
							<a href="/registration" class="smoothScroll">Registration</a>
							<a
								href="https://rssi-connect-dot-yamm-track.appspot.com/Redirect?ukey=1zbDT3wkXcUkXU3GADBLhOUqGMtb_BjSQf-5_bywoa5Q-835139937&key=YAMMID-37674940&link=https%3A%2F%2Fdocs.google.com%2Fforms%2Fd%2Fe%2F1FAIpQLSd2dYtyeb_lVZ9jiKc7zHd-gC3WdblJ29Cyjlwp3mgls1ODfg%2Fviewform"
								class="smoothScroll" target="blank">Profile Update</a>
							<a href="/our-team" class="smoothScroll">Our team</a>
						</div>
					</div>


					<div class="dropdownHo">
						<button class="dropbtnHo">Students' corner <i class="fa fa-caret-down"></i></button>
						<div class="dropdown-contentHo">
							<a href="/admission" class="smoothScroll">Admission</a>
							<a href="#" class="smoothScroll" id="secure_link_classroom">Smart classroom</a>
							<a href="/digital-library" class="smoothScroll">Digital library</a>
							<a href="/online-exam" class="smoothScroll">Online Exam</a>
							<a href="/result-portal" class="smoothScroll">Result portal</a>
							<a href="/scholarship-programs" class="smoothScroll">Scholarship programs</a>
							<a href="/miscellaneous" class="smoothScroll">Miscellaneous</a>

						</div>
					</div>

					<a href="/swanirbhar" class="smoothScroll">Swanirbhar</a>

					<a href="https://attendence-brssi.herokuapp.com/" rel="noopener noreferrer"
						target="_blank"
						class="smoothScroll">Phoenix</a>

					<a href="https://sites.google.com/view/rssi-login" rel="noopener
						noreferrer" target="_blank"
						class="smoothScroll"><i class="fas fa-user" style="font-size:15px;"></i></a>
					<a href="javascript:void(0);" class="icon" onclick="myFunction()"><i
							class="fas fa-bars"
							style="font-size:20px; color: whitesmoke;"></i></a>


				</div>
			</navh>
		</div>

	<!--------------- 
		NEED TO COPY THIS SET FOR EVERY CECURED LINK
	------------------------------------------------------>
	
	<div id="thover" class="hidden"></div>
		<div id="tpopup" class="hidden" style="padding:20px; position: fixed;">
            <!--<img src="/images/eve-day.jpg" class="img-fluid img-responsive">-->
            <div class="login-card">
                <h1>Log-in</h1><br>
                <form action="/secure/smart-classroom" method="post"> <!--Here we have to mention the secured URL path-->
                <input type="text" name="user" placeholder="Username">
                <input type="password" name="code" placeholder="Password"> <!--password name id always "code"-->
                <input type="submit" name="login" class="login login-submit" value="login">
			  </form>
            
              <div class="login-help">
              <br><a>Forgot Password? Connect with RSSI admin team</a>
              </div>
            </div>
			<div id="tclose">X</div>
		</div>
		

	<!--JAVA SCRIPT-->
		<script type="text/javascript">
			$("#secure_link_classroom").click(function(event) {
			   event.preventDefault();
			   var share_link = $(this).prop('href');
			   $("#tpopup").toggleClass('hidden');
			   $("#thover").toggleClass('hidden');
			});
//closing popup
			$(document).ready(function () {
  $("#tclose").click(function () {
    $("#thover").fadeOut();
    $("#tpopup").fadeOut();
  });

});
		 </script>
		 	<script src="/js/active-nav-bar.js"></script>
	</body>

</html>