<!DOCTYPE html>
<html lang="en">

<head>
    <title>Welcome to RSSI</title>

    <body data-spy="scroll" data-offset="50" data-target=".navbar-collapse" onload="myFunction()">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="shortcut icon" href="/images/logo/favicon.ico" type="image/x-icon" />
        <script src="/js/jquery.js"></script>
        <script>
            $(function myFunction() {
                $("#header").load("/header.html");
                $("#footer").load("/footer.html");
            });
        </script>
        <link rel="stylesheet" href="/css/HeaderFooter.css">
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="/css/contact-buttons.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/animate.css">
        <link rel="stylesheet" href="/css/owl.theme.css">
        <link href="/css/owl.carousel.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/addstyle.css">
</head>
<div id="header"></div>
<link rel="preload" as="image" href="/images/1intro-bg.jpg">

<section id="update" style="padding: 0.5% 5.5%; background-color: #fff">
    <div class="row py-2">
        <div class="col-1 col-md-3 col-lg-2 py-1 pr-md-0 mb-md-1">
            <div class="d-inline-block d-md-block bg-primary text-white text-center breaking-caret py-1 px-2"> <span class="fas fa-flag" title="Updates"></span></div>
        </div>
        <div class="col-11 col-md-9 col-lg-10 pl-1 pl-md-2">
            <div class="breaking-box pt-2 pb-1">
                <marquee behavior="scroll" scrollamount="5" direction="left" onmouseover="this.stop();" onmouseleave="this.start();">
                    <ps class="h6 notice"><span class="position-relative mx-2 badge badge-primary rounded-0">COVID-19</span> In response to the second wave of COVID-19, we have enabled our Smart Education Program for all students, regardless of their financial status. Using
                        which more than 50% of the total strength of our students are able to avail the advantages of online classroom facilities. For more information, please call us directly at +91 7980168159 or or email at <a href="mailto:info@rssi.in">info@rssi.in</a>.
                        Stay safe. Stay inspired. </ps>
                </marquee>
            </div>
        </div>
    </div>
</section>
<section id="intro" class="parallax-section">
    <div class="container">
        <div class="row">
            <div class="col" style="text-align: -webkit-left;">
                <div class="wow fadeIn body1" style="text-align: -webkit-left;" data-wow-delay="0.5s">Help a journey - from childhood to livelihood</div>
                <div><a href="#project" class="btn btn-lg btn-default smoothScroll wow fadeInUp hidden-xs" data-wow-delay="1.3s">LEARN MORE</a> <a href="/donation-portal" class="btn btn-lg btn-danger smoothScroll wow fadeInUp" data-wow-delay="1.3s">DONATE NOW</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="overview" style="padding: 5% 5.5%; background-color: #f9f9f9">
    <div class="row1">
        <div class="column6">
            <h3>Empowering youth through education is the main focus of our organization.</h3>
            <p>Rina Shiksha Sahayak Foundation (RSSI) is an innovative learning organization created to improve the quality of education in India. Registered in 2020 to provide education to children in the slums of Uttar Pradesh, RSSI has grown in both scope
                and scale, with programs today reaching children and youth across the country.</p>
            <p>RSSI addresses gaps in education systems with innovative, low-cost, replicable interventions that span the age spectrum. Working both directly and through government systems and corporate world, these programs collectively reach millions of
                children and thousands of school dropouts each year.</p><br>
            <div class="hover white"> <a href="/registration" class="primary_btn smoothScroll">JOIN THE MISSION!</a>
            </div>
        </div>
        <div class="column6a">
            <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                    <li data-target="#myCarousel" data-slide-to="5"></li>
                    <li data-target="#myCarousel" data-slide-to="6"></li>
                    <li data-target="#myCarousel" data-slide-to="7"></li>
                    <li data-target="#myCarousel" data-slide-to="8"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active"> <img src="/images/overview image/oi1.jpg" alt="Our Purpose" class="img-responsive">
                        <div class="carousel-caption" style="width: 100%;">
                            <p>Rang Barse - Holi Event 2019 an initiative of RSSI, association with TCS and Sarvebhyo Foundation</p>
                        </div>
                    </div>
                    <div class="item"> <img src="/images/overview image/oi2.jpg" alt="Our Purpose" class="img-responsive">
                        <div class="carousel-caption">
                            <p>Sunday free class under Shiksha project</p>
                        </div>
                    </div>
                    <div class="item"> <img src="/images/overview image/oi3.jpg" alt="Our Purpose" class="img-responsive">
                        <div class="carousel-caption">
                            <p>Father's Day celebration at RSSI Lucknow</p>
                        </div>
                    </div>
                    <div class="item"> <img src="/images/overview image/oi4.jpg" alt="Our Purpose" class="img-responsive">
                        <div class="carousel-caption">
                            <p>Yoga Class</p>
                        </div>
                    </div>
                    <div class="item"> <img src="/images/overview image/oi5.jpg" alt="Our Purpose" class="img-responsive">
                        <div class="carousel-caption">
                            <p>Annual Sports and Team Dinner – 2017</p>
                        </div>
                    </div>
                    <div class="item"> <img src="/images/overview image/oi8.jpg" alt="Our Purpose" class="img-responsive">
                        <div class="carousel-caption">
                            <p>Donation drive by a group of Ayesa employee</p>
                        </div>
                    </div>
                    <div class="item"> <img src="/images/overview image/oi9.jpg" alt="Our Purpose" class="img-responsive">
                        <div class="carousel-caption">
                            <p>Donation drive by a group of Ayesa employee</p>
                        </div>
                    </div>
                    <div class="item"> <img src="/images/overview image/oi10.jpg" alt="Our Purpose" class="img-responsive">
                        <div class="carousel-caption">
                            <p>Independence Day Celebration – 2018</p>
                        </div>
                    </div>
                    <div class="item"> <img src="/images/overview image/oi11.jpg" alt="Our Purpose" class="img-responsive">
                        <div class="carousel-caption">
                            <p>Commencement of Classes and academic activities for foundation Regular/Irregular course (Lucknow Center) Q3 2018</p>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev"> <span class="fas fa-chevron-left glyphicon-chevron-right"></span> <span class="sr-only">Previous</span> </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next"> <span class="fas fa-chevron-right glyphicon-chevron-right"></span> <span class="sr-only">Next</span> </a>
            </div>
        </div>
    </div>
</section>
<section id="dashboard" style="padding: 5% 5.5%; background-color: #fff">
    <div class="row1">
        <div class="column1">
            <h2>RSSI Dashboard (Live)</h2>
            <p>Last updated on <span id="datetime"></span></p><br>
            <div class="box"> <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQhM9m81-pRLyTxw2FSwQMHwURHZfvnv8oUF6ScpTODWuK4jT_6c5emyE2aAmgHHFTWX7LrCC_V7W3A/pubchart?oid=1498381227&amp;format=interactive" frameborder="0" scrolling="no" height="183" width="240px"></iframe></div>
            <div class="box"> <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQhM9m81-pRLyTxw2FSwQMHwURHZfvnv8oUF6ScpTODWuK4jT_6c5emyE2aAmgHHFTWX7LrCC_V7W3A/pubchart?oid=2102046589&amp;format=interactive" frameborder="0" scrolling="no" height="183"></iframe></div>
        </div>
        <div class="column2">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title"> <span class="fas fa-bullhorn"></span> Announcement</h3>
                </div>
                <div class="panel-body">
                    <div id="nt-example1-container">
                        <ul id="nt-example1">
                            <li>
                                <p class="notice" style="display: inline;"> QT3-2021 Report. <a href="https://drive.google.com/file/d/1Fhw73lL1fZXlFC1f1lLDZdL0PntLeVaW/view" target="_blank" class="smoothScroll" style="font-size: 14px; font-family: Roboto;">Click Here</a></p>&nbsp;&nbsp;
                                <span class="position-relative mx-2 badge badge-primary rounded-0" style="font-size: 10px; letter-spacing: 1px;">New</span>
                                <p align="right" style="font-size: 12px; color: #909090;"><i class="fas fa-pen" style="font-size:10px;"></i>Mar 21, 2021</p>
                            </li>
                            <li>
                                <p class="notice" style="display: inline;"> QT2-2020 Report. <a href="https://drive.google.com/file/d/1a5akFZd4NlDqrjFWHeCJiTDYwjfsL3X6/view" target="_blank" class="smoothScroll" style="font-size: 14px; font-family: Roboto;">Click Here</a></p>&nbsp;&nbsp;
                                <span class="position-relative mx-2 badge badge-primary rounded-0" style="font-size: 10px; letter-spacing: 1px;"></span>
                                <p align="right" style="font-size: 12px; color: #909090;"><i class="fas fa-pen" style="font-size:10px;"></i>Dec 24, 2020</p>
                            </li>
                            <li>
                                <p class="notice" style="display: inline;"> Mandatory health declaration form. <a href="https://docs.google.com/forms/d/e/1FAIpQLSdvvoVln-vUAyZeAGkusvoAl4S4TSE4lldzVZTMdqFcZiw3Fg/viewform" target="_blank" class="smoothScroll" style="font-size: 14px; font-family: Roboto;">Click Here</a></p>&nbsp;&nbsp;
                                <span class="position-relative mx-2 badge badge-primary rounded-0" style="font-size: 10px; letter-spacing: 1px;"></span>
                                <p align="right" style="font-size: 12px; color: #909090;"><i class="fas fa-pen" style="font-size:10px;"></i>Dec 24, 2020</p>
                            </li>
                            <li>
                                <p class="notice" style="display: inline;"> Notification regarding annual sports and team meets on the occasion of Christmas Day. <a href="https://drive.google.com/file/d/1hgn69c3h5Cb1sd-EzymZIM3kTwg8XCAl/view" target="_blank" class="smoothScroll" style="font-size: 14px; font-family: Roboto;">Click Here</a></p>&nbsp;&nbsp;
                                <span class="position-relative mx-2 badge badge-primary rounded-0" style="font-size: 10px; letter-spacing: 1px;"></span>
                                <p align="right" style="font-size: 12px; color: #909090;"><i class="fas fa-pen" style="font-size:10px;"></i>Dec 24, 2020</p>
                            </li>
                            <li>
                                <p class="notice" style="display: inline;"> Tentative date of commencement of 1st batch Teachers Training program cum internship is 11/1/2021. Detailed schedule will be published by first week of January. &nbsp;&nbsp;<span class="position-relative mx-2 badge badge-primary rounded-0"
                                        style="font-size: 10px; letter-spacing: 1px;"></span>
                                    <p align="right" style="font-size: 12px; color: #909090;"><i class="fas fa-pen" style="font-size:10px;"></i>Dec 24, 2020</p>
                            </li>
                            <li>
                                <p class="notice" style="display: inline;">Fill out this form to change your existing picture in the RSSI database. Approval of your photo is subject to the decision of RSSI HR. <a href="https://docs.google.com/forms/d/e/1FAIpQLSeYZf1OzYh2zYWgbbS07tQPpD1NRkzogmJMuZAioO6IQaEdGA/viewform"
                                        target="_blank" class="smoothScroll" style="font-size: 14px; font-family: Roboto;">Photo Upload</a></p>
                                &nbsp;&nbsp;<span class="position-relative mx-2 badge badge-primary rounded-0" style="font-size: 10px; letter-spacing: 1px;"></span>
                                <p align="right" style="font-size: 12px; color: #909090;"><i class="fas fa-pen" style="font-size:10px;"></i>Oct 3, 2020</p>
                            </li>
                        </ul> <i class="fa fa-arrow-down" id="nt-example1-prev"></i> <i class="fa fa-arrow-up" id="nt-example1-next"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="detail" style="padding: 5% 5.5%; background-color: #222">
    <div class="row">
        <div class="wow fadeInLeft col-md-4 col-sm-4" data-wow-delay="0.3s"> <i class="fa fa-users"></i>
            <h3>500+ Beneficiaries</h3>
            <p>In past 2 years we have covered almost 500+ beneficiaries under our educational and health care program. Health care program covers Feminine hygiene, basic personal hygiene for all.</p>
        </div>
        <div class="wow fadeInUp col-md-4 col-sm-4" data-wow-delay="0.6s"> <i class="fa fa-hands-helping"></i>
            <h3>25+ Volunteers</h3>
            <p>Our journey started with 2 volunteers and gradually connected with more than 25 volunteers across the world.
            </p>
        </div>
        <div class="wow fadeInRight col-md-4 col-sm-4" data-wow-delay="0.9s"> <i class="fa fa-map-marker-alt"></i>
            <h3>1 Centre</h3>
            <p>Our NGO division is active in Lucknow. Lucknow centre of RSSI is a registered, non-governmental organization, a non-profit and voluntary citizens' group which is organized on a local level.</p>
        </div>
    </div>
</section>
<section class="about_area section_gap" id="abouthome" style="padding: 5% 5.5%; background-color: #f9f9f9">
    <div class="container">
        <div class="row">
            <div class="single_about row">
                <div class="col-lg-6 col-md-12 text-center about_left">
                    <div class="about_thumb"> <img class="card-img-top img-fluid lazy img-responsive" data-src="/images/about/abouthome.jpg" alt="about_us">
                        <div class="carousel-caption" style="width:50%">
                            <p>Award distribution - 2K19. Special thanks to Upasana Patel for her contributions to drive the event and sponsoring cycle.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 about_right">
                    <div class="about_content">
                        <h2>WE ARE</h2>
                        <h3>A GLOBAL COMMUNITY CHANGING THE WAY THE WORLD TACKLES POVERTY</h3><br>
                        <p> The path out of poverty begins when the next generation can access quality healthcare and a great education.</p>
                        <p> In developing countries, we focus on improving people’s health and wellbeing, helping individuals lift themselves out of hunger and extreme poverty. In India, we seek to ensure that all people especially those with the fewest resources
                            can access the opportunities they need to succeed in school and life.</p>
                        <div class="hover white"><a href="/about-us" class="primary_btn smoothScroll">learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<section class="features_causes" id="project" style="padding: 5% 5.5%; background-color: #fff">
    <div class="container">
        <div class="text-center" style="padding: 0">
            <div class="section-title">
                <h1>Major Current
                    <div class="textarea" style="display: inline-block; padding: 1%;"><span class="body2a">Projects</span></div>
                </h1>
            </div><br><br>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <figure> <img class="card-img-top img-fluid lazy" data-src="/images/project/fc1.jpg" alt="project" style="width:360px;height:270px;"> </figure>
                        <div class="card_inner_body">
                            <h4 class="card-title">Shiksha</h4>
                            <p class="card-text notice"> Shiksha (Education) is a regional level programme, which is committed to provide basic education and healthcare to underprivileged kids. It covers education of 50+ beneficiaries so that they may be able to develop their educational
                                standard. Free classes, educational aid, outdoor educational tour, sports are covered under this programme.</p>
                            <div class="d-flex justify-content-between raised_goal">
                                <p>Raised: ₹16815</p>
                                <p><span>Yearly expenses: ₹800/Child</span></p>
                            </div>
                            <div class="d-flex justify-content-between donation align-items-center"> <a href="/donation-portal" class="primary_btn smoothScroll">Donate</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <figure> <img class="card-img-top img-fluid lazy" data-src="/images/project/fc2.jpg" alt="project" style="width:360px;height:270px;"> </figure>
                        <div class="card_inner_body">
                            <h4 class="card-title">Swabhiman</h4>
                            <p class="card-text notice"> Launched in 2017 to address the challenges through a simple yet effective approach. The programme is specifically aimed at realization of both individual and collective self-esteem and inner strength for marginalized and socially
                                excluded women and adolescent girls through innovative community practices. <a href="/swabhiman-prakalpa" style="font-size:14px;">See more...</a></p><br>
                            <div class="d-flex justify-content-between raised_goal">
                                <p>Raised: ₹10510</p>
                                <p><span>Yearly expenses: ₹1200/Child</span></p>
                            </div>
                            <div class="d-flex justify-content-between donation align-items-center"> <a href="/donation-portal" class="primary_btn smoothScroll">Donate</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-body">
                        <figure> <img class="card-img-top img-fluid lazy" data-src="/images/project/fc3.jpg" alt="project" style="width:360px;height:270px;"> </figure>
                        <div class="card_inner_body">
                            <h4 class="card-title">Suraksha</h4>
                            <p class="card-text"> For promotion of menstrual hygiene among adolescent girls in the age group of 10-19 year in rural areas to improve access to hygienic sanitary products and to educate girls about the menstrual cycle, so that they understand
                                what to expect when they begin their periods, and how to care for themselves during menstruation.
                            </p>
                            <div class="d-flex justify-content-between raised_goal">
                                <p>Raised: ₹2226</p>
                                <p><span>Yearly expenses: ₹2400/Child</span></p>
                            </div>
                            <div class="d-flex justify-content-between donation align-items-center"> <a href="/donation-portal.html" class="primary_btn smoothScroll">Donate</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="team" style="padding: 5% 5.5%; background-color: #F0F0F0">
    <h2 style="text-align:center">Message from Founders' Desk</h2><br>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="team-pic"> <img class="lazy" data-src="/images/members/members-img1.jpg"></div>
                    <div class="team-profile">
                        <h3 class="team-title" style="font-family: Poppins;"> <a>Rina</a> <small>Founder</small>
                        </h3>
                        <p class="description">Speak up for those who cannot speak for themselves.</p>
                        <ul class="team-social">
                            <li><a href="https://www.facebook.com/rina.saha.90410"><i
                                            class="fab fa-facebook-f"></i></a></li>
                            <li>
                                <a href="#" class="fab fa-twitter"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-linkedin-in"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-instagram"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="team-pic"> <img class="lazy" data-src="/images/members/members-img2.jpg"></div>
                    <div class="team-profile">
                        <h3 class="team-title" style="font-family: Poppins;"> <a>Som</a> <small>Co-founder,
                                    Director</small></h3>
                        <p class="description">RSSI is a platform where you can work together to make someone smile which is priceless.</p>
                        <ul class="team-social">
                            <li><a href="https://www.facebook.com/somnath.ecebppimt"><i
                                            class="fab fa-facebook-f"></i></a></li>
                            <li>
                                <a href="#" class="fab fa-twitter"></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/somnath-saha-b10303162/" class="fab fa-linkedin-in"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-instagram"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="our-team">
                    <div class="our-team">
                        <div class="team-pic"> <img class="lazy" data-src="/images/members/members-img3.jpg"></div>
                        <div class="team-profile">
                            <h3 class="team-title" style="font-family: Poppins;"> <a>Neel</a> <small>Co-founder,
                                        Director</small></h3>
                            <p class="description">Not all of us can do great things, but we can do small things with great love.</p>
                            <ul class="team-social">
                                <li><a href="https://www.facebook.com/nag.indranil"><i
                                                class="fab fa-facebook-f"></i></a></li>
                                <li>
                                    <a href="#" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/in/indranil-nag/" class="fab fa-linkedin-in"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-instagram"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <p><span style="font-size:150px; font-family: serif; font-style: italic; color:#F2545F; line-height:0.9em;opacity:0.2">&#10004;</span>Success doesn’t mean the absence of failure, it means the attainment of ultimate objectives. It means the progressive
                attainment of worthy goals and this is the philosophy statement of a brand called RSSI.</p>
        </div>
</section>
<section id="faq" style="padding: 5% 5.5%; background-color: #f9f9f9">
    <div class="container" style="padding: 0">
        <div class="row" style="padding: 0">
            <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 text-center" style="padding: 0">
                <div class="section-title">
                    <h2>Do you have Questions?</h2>
                    <p>Don't hesitate to buzz the number for more info</p>
                </div>
            </div>
            <div class="col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10" style="padding: 0">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne"> What is RSSI? </a></h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <p>RSSI is a registered, non-governmental organization, a non-profit and voluntary citizens' group which is organized on a local level.</p>
                                <p>Our mission is to empower underprivileged children, youth and their families and community through relevant education, innovative healthcare and market-focused livelihood programmes. Mutual respect, trust & honesty are
                                    the three pillars of our institute and we are thoroughly committed to them.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> How old is RSSI? </a></h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <p>Rina Shiksha Sahayak Foundation came into existence in the year 2010, founded by Rina Saha. At first, it started functioning from West Bengal and later in 2015 shifted to Gomti Nagar, Lucknow.</p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> Which areas does RSSI work in? </a></h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                <p>RSSI has been working in the thematic areas of education, healthcare, youth employability and empowerment of women and girls.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="demo">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12 col-sm-12 wow bounceIn">
                    <div class="section-title" style="color: whitesmoke; text-align: center;">
                        <h2>Our benevolent sponsors</h2>
                        <p style="color: whitesmoke;">Thank you for your generous support</p>
                    </div>
                </div>
                <div id="testimonial-slider" class="owl-carousel">
                    <div class="testimonial"> <span class="icon fa fa-quote-left"></span>
                        <p class="description"> Die with memories not with dreams.</p>
                        <div class="testimonial-content">
                            <div class="pic"><img class="lazy" data-src="https://res.cloudinary.com/hs4stt5kg/image/upload/v1620451673/faculties/gaurav.jpg" alt=""></div>
                            <h3 class="title" style="line-height: 2;">Gaurav</h3> <span class="post">Haryana,
                                    India</span>
                        </div>
                    </div>
                    <div class="testimonial"> <span class="icon fa fa-quote-left"></span>
                        <p class="description"> Participating in social initiatives is not just about doing good for society. It’s a way of living your life.</p>
                        <div class="testimonial-content">
                            <div class="pic"><img class="lazy" data-src="https://res.cloudinary.com/hs4stt5kg/image/upload/v1589893739/faculties/VLKO18008.jpg" alt=""></div>
                            <h3 class="title" style="line-height: 2;">Anurag Khare</h3> <span class="post">Barabanki, India</span>
                        </div>
                    </div>
                    <div class="testimonial"> <span class="icon fa fa-quote-left"></span>
                        <p class="description"> This is a special opportunity. One gets to learn more while teaching young children.</p>
                        <div class="testimonial-content">
                            <div class="pic"><img class="lazy" data-src="https://res.cloudinary.com/hs4stt5kg/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max/v1557377190/faculties/Richa.jpg" alt=""></div>
                            <h3 class="title" style="line-height: 2;">Richa Singh</h3> <span class="post">CA,
                                    USA</span>
                        </div>
                    </div>
                    <div class="testimonial"> <span class="icon fa fa-quote-left"></span>
                        <p class="description"> Education is not just about going to school and getting a degree. It's about widening your knowledge and absorbing the truth of life.</p>
                        <div class="testimonial-content">
                            <div class="pic"><img class="lazy" data-src="https://res.cloudinary.com/hs4stt5kg/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max/v1541586691/faculties/VLKO18013.jpg" alt=""></div>
                            <h3 class="title" style="line-height: 2;">Upasana Patel</h3> <span class="post">Lucknow,
                                    India</span>
                        </div>
                    </div>
                    <div class="testimonial"> <span class="icon fa fa-quote-left"></span>
                        <p class="description"> A great place. Beautiful location amidst forest and greenery and hills. This is an educational institute imparting free and quality education for underprivileged kids.</p>
                        <div class="testimonial-content">
                            <div class="pic"><img class="lazy" data-src="https://res.cloudinary.com/hs4stt5kg/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max/v1586191460/faculties/Neel.jpg" alt=""></div>
                            <h3 class="title" style="line-height: 2;">Indranil Nag</h3> <span class="post">Kolkata,
                                    India</span>
                        </div>
                    </div>
                    <div class="testimonial"> <span class="icon fa fa-quote-left"></span>
                        <p class="description"> It takes a little effort to make a big difference.</p>
                        <div class="testimonial-content">
                            <div class="pic"><img class="lazy" data-src="https://res.cloudinary.com/hs4stt5kg/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max/v1/faculties/VLKO17004.jpg" alt=""></div>
                            <h3 class="title" style="line-height: 2;">Sapnil Sharma</h3> <span class="post">New
                                    Delhi, India</span>
                        </div>
                    </div>
                    <div class="testimonial"> <span class="icon fa fa-quote-left"></span>
                        <p class="description"> I feel that this is a very good platform to teach the young ones who are not able to go to school due to some reasons and 1 or 2 hours in a day can change someone's life leading to his/her bright future.</p>
                        <div class="testimonial-content">
                            <div class="pic"><img class="lazy" data-src="https://res.cloudinary.com/hs4stt5kg/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max/v1542544977/faculties/VLKO17003.jpg" alt=""></div>
                            <h3 class="title" style="line-height: 2;">Gaurav Bagga</h3> <span class="post">Jabalpur,
                                    India</span>
                        </div>
                    </div>
                    <div class="testimonial"> <span class="icon fa fa-quote-left"></span>
                        <p class="description"> Every penny put in the education of a child willing to study is a huge investment.</p>
                        <div class="testimonial-content">
                            <div class="pic"><img class="lazy" data-src="https://res.cloudinary.com/hs4stt5kg/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max/v1/faculties/Sidhant.jpg" alt=""></div>
                            <h3 class="title" style="line-height: 2;">Siddhant Srivastava</h3> <span class="post">Lucknow, India</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/pace.js"></script>
<script src="/js/fontawsome.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.newsTicker.js"></script>
<script>
    $(window).load(function() {
        $('code.language-javascript').mCustomScrollbar();
    });
    var nt_example1 = $('#nt-example1').newsTicker({
        row_height: 80,
        max_rows: 2,
        duration: 4000,
        prevButton: $('#nt-example1-prev'),
        nextButton: $('#nt-example1-next')
    });
</script>
<script>
    var dt = new Date();
    document.getElementById("datetime").innerHTML = dt.toLocaleString();
</script>
<script src="/js/jquery.parallax.js"></script>
<script src="/js/smoothscroll.js"></script>
<script src="/js/owl.carousel.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function() {
        $("#testimonial-slider").owlCarousel({
            items: 3,
            itemsDesktop: [1000, 3],
            itemsDesktopSmall: [979, 2],
            itemsTablet: [768, 2],
            itemsMobile: [650, 1],
            pagination: true,
            autoPlay: true
        });
    });
</script>
<script src="/js/custom.js"></script>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        var lazyloadImages = document.querySelectorAll("img.lazy");
        var lazyloadThrottleTimeout;

        function lazyload() {
            if (lazyloadThrottleTimeout) {
                clearTimeout(lazyloadThrottleTimeout);
            }
            lazyloadThrottleTimeout = setTimeout(function() {
                var scrollTop = window.pageYOffset;
                lazyloadImages.forEach(function(img) {
                    if (img.offsetTop < (window.innerHeight + scrollTop)) {
                        img.src = img.dataset.src;
                        img.classList.remove('lazy');
                    }
                });
                if (lazyloadImages.length == 0) {
                    document.removeEventListener("scroll", lazyload);
                    window.removeEventListener("resize", lazyload);
                    window.removeEventListener("orientationChange", lazyload);
                }
            }, 20);
        }
        document.addEventListener("scroll", lazyload);
        window.addEventListener("resize", lazyload);
        window.addEventListener("orientationChange", lazyload);
    });
</script>
<script src="/js/wow.min.js"></script> <a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>
<div id="footer"></div>
<script src="js/jquery.contact-buttons.js"></script>
<script src="js/demo.js"></script>
</body>

</html>