<!DOCTYPE html>
<html lang="en">

<head>
    <title>Media Center</title>

</head>

<meta name="description" content="">
<meta name="author" content="">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="/images/logo/favicon.ico" type="image/x-icon" />
<script src="/js/jquery.js"></script>
<script>
    $(function() {
        $("#header").load("/header.html");
        $("#footer").load("/footer.html");
    });
</script>
<link rel="stylesheet" href="/css/HeaderFooter.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<!-- Main css -->
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/addstyle.css">

<style>
    hr {
        margin-top: 20px;
        margin-bottom: 20px;
        border: 0;
        border-top: 2px solid #eee;
    }
    
    p1 {
        font-size: 13px;
        color: #777777;
        line-height: 21px !important;
    }
    
    .colm {
        float: left;
        width: 33.33%;
        padding: 5px;
        margin-left: -5px;
    }
    /* Clearfix (clear floats) */
    
    .rowm::after {
        content: "";
        clear: both;
        display: table;
    }
    
    .container {
        margin-left: 5%;
    }
    
    @media screen and (max-width: 800px) {
        .colm {
            width: 100%;
        }
        .col {
            margin-left: 5%;
        }
    }
</style>

<!-- =========================
     NAVIGATION LINKS     
============================== -->

<body>

    <div id="header"></div>

    <!-- NAVIGATION PATH -->

    <!--<img class="lazy" data-src="" alt="" width="100%"/><br>-->
    <div style="margin: 0.3%;">
        <ps class="marginleft notice" style="margin-left: 3%;">
            <a href="/index">Home</a> &#62; Media Center</ps>
    </div>

    <br><br><br>

    <div class="container">
        <div class="row">
            <div class="col">

                Sawchhta Week<br>
                <p1><i class="far fa-calendar-check"></i>&nbsp;&nbsp;02-Oct-2020</p1><br><br>
                <div class="rowm">
                    <div class="colm"><iframe class="embed-responsive-item" style="width:100%; height: 265px; border: 0vw;" src="https://drive.google.com/file/d/1kQgLI8YcC5MQnXZl3XrUarbTEqjbumim/preview" allowfullscreen></iframe></div>
                </div>
                <br>

                <hr> Srishti, a sky where dreams can fly high.<br>
                <p1><i class="far fa-calendar-check"></i>&nbsp;&nbsp;23-Aug-2020</p1><br><br>
                <div class="rowm">
                    <div class="colm"><iframe class="embed-responsive-item" style="width:100%; height: 265px; border: 0vw;" src="https://drive.google.com/file/d/1yRK-LDdb1ypPBRS9okxBmShHog0cZF7j/preview" allowfullscreen></iframe></div>
                </div>
                <br>

                <hr> Donation drive by Ayesa2<br>
                <p1><i class="far fa-calendar-check"></i>&nbsp;&nbsp;22-July-2019</p1><br><br>
                <div class="rowm">
                    <div class="colm"><img src="https://1f595a37-a-62cb3a1a-s-sites.googlegroups.com/site/rssimedia1/IMG_6731.JPG" style="width:100%"></div>
                    <div class="colm"><img src="https://1f595a37-a-62cb3a1a-s-sites.googlegroups.com/site/rssimedia1/IMG_6677.JPG" style="width:100%"></div>
                </div>
                <br>
                <p class="noticet ">For more Photos and Videos, please &nbsp;<a href="https://drive.google.com/open?id=1faHatJm356V6G65-0tkdvfkWp2j83Vly " target="_blank ">Click
                        Here</a></p>

                <hr> Educational Trip - Lucknow Metro<br>
                <p1><i class="far fa-calendar-check "></i>&nbsp;&nbsp;07-July-2019</p1><br><br>
                <div class="rowm">
                    <div class="colm">
                        <img class="lazy" data-src="https://1f595a37-a-62cb3a1a-s-sites.googlegroups.com/site/rssimedia1/IMG_6430.JPG" style="width:100%"></div>
                    <div class="colm">
                        <img class="lazy" data-src="https://1f595a37-a-62cb3a1a-s-sites.googlegroups.com/site/rssimedia1/IMG_6431.JPG" style="width:100%"></div>
                </div><br>
                <p class="noticet ">For more Photos and Videos, please &nbsp;<a href="https://drive.google.com/open?id=1w813As_LWADb_4n5Xb4GD2eOBzPMN1FE " target="_blank ">Click
                        Here</a></p>


                <hr> Yoga Class.<br>
                <p1><i class="far fa-calendar-check "></i>&nbsp;&nbsp;16-Jun-2019</p1><br><br>
                <div class="rowm">
                    <div class="colm">
                        <img class="lazy" data-src="http://bit.ly/2WVSZXa " style="width:100%"></div>
                    <div class="colm">
                        <img class="lazy" data-src="http://bit.ly/2RrBqZh " style="width:100%"></div>
                </div>
                <br>
                <hr> Awareness program on Menstrual hygiene, Phase III.<br>
                <p1><i class="far fa-calendar-check "></i>&nbsp;&nbsp;16-Jun-2019</p1><br><br>
                <div class="rowm">
                    <div class="colm"><img class="lazy" height="400 " data-src="http://bit.ly/2XoRXT4 " width="300 "></div>
                </div>
                <hr> Father's Day celebration at RSSI Lucknow<br>
                <p1><i class="far fa-calendar-check "></i>&nbsp;&nbsp;16-Jun-2019</p1><br><br>
                <div class="rowm">
                    <div class="colm"><img class="lazy" data-src="http://bit.ly/2Y31KLQ " style="width:100%"></div>
                    <div class="colm"><img class="lazy" data-src="http://bit.ly/2FmLYE7 " style="width:100%"></div>
                </div><br>
                <p class="noticet ">For more Photos and Videos, please &nbsp;<a href="https://drive.google.com/open?id=1tB9S-vuJrWhC6qNdlU-zez7IK4G2cY3c " target="_blank ">Click
                            Here</a></p>

                <hr> Ifter 2019 organized by RSSI Lucknow<br>
                <p1><i class="far fa-calendar-check "></i>&nbsp;&nbsp;02-Jun-2019</p1><br><br>
                <div class="rowm">
                    <div class="colm"><img class="lazy" data-src="http://bit.ly/31c6pgi " style="width:100%"></div>
                    <div class="colm"><img class="lazy" data-src="http://bit.ly/31isnya " style="width:100%"></div>
                </div><br>

                <hr> Eidee A reason to smile - Eid celebration 2019 an initiative of RSSI, association with TCS and Sarvebhyo Foundation<br>
                <p1><i class="far fa-calendar-check "></i>&nbsp;&nbsp;02-Jun-2019</p1><br><br>
                <div class="rowm">
                    <div class="colm"><img class="lazy" data-src="http://bit.ly/2MAkhhg" style="width:100%"></div>
                </div><br>

                <p class="noticet ">For more Photos and Videos, please&nbsp;<a href="https://drive.google.com/drive/folders/1_Qj5Lt4iZn2LU8UnvezpfN5eRKO8ZYW_?usp=sharing " target="_blank ">Click Here</a></p>

                <hr> Award distribution - 2K19. Special thanks to Upasana (Read Upasana Patel) for her contributions to drive the event and sponsoring cycle. Thank​ ​you​ ​for​ ​your​ ​generous​ ​support! Beneficiary details - Mohd Amir, Age 13, Secured 1st
                position in Q4 examination (80.83%). In school awarded double promotion to class 5.<br>
                <p1><i class="far fa-calendar-check "></i>&nbsp;&nbsp;05-May-2019</p1><br><br>

                <div class="rowm">
                    <div class="colm"><img class="lazy" data-src="http://bit.ly/2vEgunL " style="width:100%"></div>
                </div>
                <br>

                <hr> Rang Barse - Holi Event 2019 an initiative of RSSI, association with TCS and Sarvebhyo Foundation
                <br>
                <p1><i class="far fa-calendar-check "></i>&nbsp;&nbsp;17-Mar-2019</p1><br><br>

                <div class="rowm">
                    <div class="colm"><img class="lazy" data-src="https://320dbbb8-a-62cb3a1a-s-sites.googlegroups.com/site/rssimedia/IMG_3472.JPG" style="width:100%"></div>
                    <div class="colm"><img class="lazy" data-src="https://320dbbb8-a-62cb3a1a-s-sites.googlegroups.com/site/rssimedia/IMG_3583.JPG" style="width:100%"></div>
                </div><br>

                <p class="noticet ">For more Photos and Videos, please&nbsp;<a href="https://drive.google.com/drive/folders/1YEf_TxTRGoWBg6VeibyX-aUhTX9mE-VQ " target="_blank ">Click Here</a></p>

                <hr> Republic Day and Annual Sports – 2019 an initiative of RSSI, association with TCS<br>
                <p1><i class="far fa-calendar-check "></i>&nbsp;&nbsp;26-Jan-2019</p1><br><br>
                <div class="rowm">
                    <div class="colm"><img class="lazy" data-src="https://320dbbb8-a-62cb3a1a-s-sites.googlegroups.com/site/rssimedia/IMG_1278.JPG" style="width:100%"></div>
                    <div class="colm"><img class="lazy" data-src="https://320dbbb8-a-62cb3a1a-s-sites.googlegroups.com/site/rssimedia/IMG_1328.JPG" style="width:100%">
                    </div>
                </div><br>

                <p class="noticet ">For more Photos and Videos, please&nbsp;<a href="https://goo.gl/sMyyv4 " target="_blank ">Click Here</a></p>


                <hr> Christmas and Annual Day Celebration – 2018 Co-sponsored by Tata Consultancy Services.<br>
                <p1><i class="far fa-calendar-check "></i>&nbsp;&nbsp;25-Dec-2018</p1><br><br>
                <div class="rowm">
                    <div class="colm"><img class="lazy" data-src="https://320dbbb8-a-62cb3a1a-s-sites.googlegroups.com/site/rssimedia/IMG-20181225-WA0052.jpg" style="width:100%"></div>
                    <div class="colm"><img class="lazy" data-src="https://320dbbb8-a-62cb3a1a-s-sites.googlegroups.com/site/rssimedia/IMG-20181225-WA0068.jpg" style="width:100%"></div>
                </div><br>

                <p class="noticet ">For more Photos and Videos, please&nbsp;<a href="https://goo.gl/XAGXn4 " target="_blank ">Click Here</a></p>

                <hr> Cycle distribution under Swabhiman Prakalpa (Q3 2018).<br>
                <p1><i class="far fa-calendar-check "></i>&nbsp;&nbsp;21-Dec-2018</p1><br><br>
                <div class="rowm">
                    <div class="colm"><img class="lazy" data-src="https://bit.ly/32MruPT " style="width:100%"></div>
                </div><br>

                <hr> Diya - Enlighten Smiles, Diwali Celebration. Powered by TCS-Maitree and in collaboration with Sarvebhyo Foundation
                <br>
                <p1><i class="far fa-calendar-check "></i>&nbsp;&nbsp;05-Nov-2018</p1><br><br>

                <div class="rowm">
                    <div class="colm"><img class="lazy" data-src="https://320dbbb8-a-62cb3a1a-s-sites.googlegroups.com/site/rssimedia/IMG-20181105-WA0058.jpg" style="width:100%"></div>
                    <div class="colm"><img class="lazy" data-src="https://320dbbb8-a-62cb3a1a-s-sites.googlegroups.com/site/rssimedia/IMG-20181105-WA0058.jpg" style="width:100%"></div>
                </div><br>
                <p class="noticet ">For more Photos and Videos, please&nbsp;<a href="https://goo.gl/43hm4j " target="_blank ">Click Here</a></p>
                <hr> Our new classroom. In collaboration with Little Friend School<br>
                <p1><i class="far fa-calendar-check "></i>&nbsp;&nbsp;30-Sep-2018</p1><br><br>
                <div class="rowm">
                    <div class="colm">
                        <img class="lazy" data-src="https://320dbbb8-a-62cb3a1a-s-sites.googlegroups.com/site/rssimedia/IMG_20180930_145701.jpg" style="width:100%"></div>
                    <div class="colm"><img class="lazy" data-src="https://320dbbb8-a-62cb3a1a-s-sites.googlegroups.com/site/rssimedia/IMG_20180930_151630.jpg" style="width:100%"></div>
                </div><br>
                <hr> Awareness program on Menstrual hygiene, Phase II. In collaboration with TCS and Sarvebhyo Foundation
                <br>
                <p1><i class="far fa-calendar-check "></i>&nbsp;&nbsp;1-Sep-2018</p1><br><br>
                <div class="rowm">
                    <div class="colm"><img class="lazy" data-src="https://320dbbb8-a-62cb3a1a-s-sites.googlegroups.com/site/rssimedia/IMG_20180921_165221.jpg" style="width:100%"></div>
                    <div class="colm"><img class="lazy" data-src="https://320dbbb8-a-62cb3a1a-s-sites.googlegroups.com/site/rssimedia/IMG_20180921_161326.jpg" style="width:100%"></div>
                </div><br>

                <p class="noticet ">For more Photos and Videos, please&nbsp;<a href="https://drive.google.com/drive/folders/1LjqyclFPe_TaMwVGFSBSKc4wvowmdzG9 " target="_blank ">Click Here</a></p>

                <hr> Awareness program on Sexual abuse and Menstrual hygiene (Especially for Girls, age of 10-20 Years Old), in collaboration with TCS and Sarvebhyo Foundation<br>
                <p1><i class="far fa-calendar-check "></i>&nbsp;&nbsp;20-Aug-2018</p1><br><br>


                <div class="rowm">
                    <div class="colm"><img class="lazy" data-src="https://320dbbb8-a-62cb3a1a-s-sites.googlegroups.com/site/rssimedia/IMG_20180820_173450.jpg" style="width:100%"></div>
                    <div class="colm"><img class="lazy" data-src="https://320dbbb8-a-62cb3a1a-s-sites.googlegroups.com/site/rssimedia/IMG_20180820_173538.jpg" style="width:100%"></div>
                </div><br>
                <p class="noticet ">For more Photos and Videos, please&nbsp;<a href="https://drive.google.com/open?id=1qztAXtP-c2Z6oUKTBAVhhlp4WhDcyCDY " target="_blank ">Click Here</a></p>

                <hr> Independence Day Celebration – 2018<br>
                <p1><i class="far fa-calendar-check "></i>&nbsp;&nbsp;15-Aug-2018</p1><br><br>
                <div class="rowm">
                    <div class="colm"><img class="lazy" data-src="https://320dbbb8-a-62cb3a1a-s-sites.googlegroups.com/site/rssimedia/IMG_20180815_100922.jpg" style="width:100%"></div>
                    <div class="colm"><img class="lazy" data-src="https://320dbbb8-a-62cb3a1a-s-sites.googlegroups.com/site/rssimedia/IMG_20180815_110202.jpg" style="width:100%"> </div>
                </div><br>

                <p class="noticet ">For more Photos and Videos, please&nbsp;<a href="https://drive.google.com/open?id=1lY6Sds03635cNd0g0Dcc63wEoE7wDNSx " target="_blank ">Click Here</a></p>

                <hr> Commencement of Classes and academic activities for foundation Regular/Irregular course (Lucknow Center) Q3 2018.
                <br>
                <p1><i class="far fa-calendar-check "></i>&nbsp;&nbsp;16-July-2018</p>
                </p1><br><br>
                <div class="rowm">
                    <div class="colm"><img class="lazy" data-src="https://320dbbb8-a-62cb3a1a-s-sites.googlegroups.com/site/rssimedia/IMG_20180722_094003.jpg" style="width:100%"></div>
                    <div class="colm"><img class="lazy" data-src="https://320dbbb8-a-62cb3a1a-s-sites.googlegroups.com/site/rssimedia/IMG_20180805_131542.jpg" style="width:100%"> </div>
                </div><br>


                <hr> School Admission - RSSI Slot 1 (Primary Section 5 and Pre Secondary Section 8). Primary School, Gulam Hussain Purwa, Address: Gomti Nagar Rd, Vibhuti Khand, Gomti Nagar, Lucknow, Uttar Pradesh 226010.<br>
                <p1><i class="far fa-calendar-check "></i>&nbsp;&nbsp;03-Apr-2018</p1><br><br>


                <div class="rowm">
                    <div class="colm"><img class="lazy" data-src="https://320dbbb8-a-62cb3a1a-s-sites.googlegroups.com/site/rssimedia/IMG_20180403_120810.jpg" style="width:100%"></div>
                    <div class="colm"><img class="lazy" data-src="https://320dbbb8-a-62cb3a1a-s-sites.googlegroups.com/site/rssimedia/IMG_20180403_121000.jpg" style="width:100%"></div>
                </div><br>

                <hr> Educational trips at Nawab Wajid Ali Shah Zoological Garden.<br>
                <p1><i class="far fa-calendar-check "></i>&nbsp;&nbsp;11-Mar-2018</p1><br><br>

                <div class="rowm">
                    <div class="colm"><img class="lazy" data-src="https://320dbbb8-a-62cb3a1a-s-sites.googlegroups.com/site/rssimedia/IMG_20180311_114137.jpg" style="width:100%"></div>
                    <div class="colm"><img class="lazy" data-src="https://320dbbb8-a-62cb3a1a-s-sites.googlegroups.com/site/rssimedia/IMG_20180311_115606.jpg" style="width:100%"></div>
                </div><br>
                <p class="noticet ">For more Photos and Videos, please&nbsp;<a href="https://drive.google.com/open?id=1K-GWmO5Lyns9vSNBcIj73B_0hd2UBkrC " target="_blank ">Click
                    Here</a></p>

                <hr> First-term examination, 2018 - Publication of results and Award distribution.<br>
                <p1><i class="far fa-calendar-check "></i>&nbsp;&nbsp;17-Feb-2018</p1><br><br>

                <div class="rowm">
                    <div class="colm"><img class="lazy" data-src="https://320dbbb8-a-62cb3a1a-s-sites.googlegroups.com/site/rssimedia/2018-02-24-12-38-30-568.jpg" style="width:100%"> </div>
                    <div class="colm"><img class="lazy" data-src="https://320dbbb8-a-62cb3a1a-s-sites.googlegroups.com/site/rssimedia/IMG_20180224_124058.jpg" style="width:100%"></div>
                </div><br>

                <p class="noticet ">For more Photos and Videos, please&nbsp;<a href="https://drive.google.com/drive/folders/1wnXDSy3V1iAyKqnqMTeWIhEx8KAog80L " target="_blank ">Click Here</a></p>

                <hr> Republic Day Celebration – 2018<br>
                <p1><i class="far fa-calendar-check "></i>&nbsp;&nbsp;26-Jan-2018</p1><br><br>

                <div class="rowm">
                    <div class="colm"><img class="lazy" data-src="https://320dbbb8-a-62cb3a1a-s-sites.googlegroups.com/site/rssimedia/IMG_20180126_120625.jpg" style="width:100%; height:285px"> </div>
                    <div class="colm"><img class="lazy" data-src="https://320dbbb8-a-62cb3a1a-s-sites.googlegroups.com/site/rssimedia/IMG_20180126_115039.jpg" style="width:100%"></div>
                </div><br>

                <p class="noticet ">For more Photos and Videos, please&nbsp;<a href="https://drive.google.com/open?id=1660ZZ54w2qT2bcW2Ys78aeprCcIzcRbs " target="_blank ">Click
                    Here</a></p>

                <hr> Christmas and Annual Day Celebration – 2017<br>
                <p1><i class="far fa-calendar-check "></i>&nbsp;&nbsp;25-Dec-2017</p1><br><br>
                <div class="rowm">
                    <div class="colm"><img class="lazy" data-src="https://320dbbb8-a-62cb3a1a-s-sites.googlegroups.com/site/rssimedia/IMG-20171225-WA0175.jpg" style="width:100%"> </div>
                    <div class="colm"><img class="lazy" data-src="https://320dbbb8-a-62cb3a1a-s-sites.googlegroups.com/site/rssimedia/IMG-20171225-WA0125.jpg" style="width:100%"></div>
                </div><br>

                <p class="noticet ">For more Photos and Videos, please&nbsp;<a href="https://drive.google.com/open?id=1ZjQPhiLE7Bjy_okSa6cyGEf8l75h_lDw " target="_blank ">Click
                    Here</a></p>


                <hr> Introducing our new Morning batch.<br>
                <p1><i class="far fa-calendar-check "></i>&nbsp;&nbsp;17-Dec-2017</p1><br><br>
                <div class="rowm">
                    <div class="colm"><img class="lazy" height="390 " data-src="https://320dbbb8-a-62cb3a1a-s-sites.googlegroups.com/site/rssimedia/IMG_20171220_110152.jpg" style="width:100%"></div>
                </div>
                <hr> Annual Sports and Team Dinner – 2017<br>
                <p1><i class="far fa-calendar-check "></i>&nbsp;&nbsp;10-Dec-2017</p1><br><br>

                <div class="rowm">
                    <div class="colm"><img class="lazy" data-src="https://sites.google.com/site/brssihome/media-center/IMG_20171210_123403.jpg " style="width:100%"></div>
                    <div class="colm"><img class="lazy" data-src="https://sites.google.com/site/brssihome/media-center/IMG_20171210_124555.jpg " style="width:100%"></div>
                </div><br>
                <div class="rowm">
                    <div class="colm"><img class="lazy" data-src="https://sites.google.com/site/brssihome/media-center/IMG_20171210_125341.jpg" style="width:100%"></div>
                    <div class="colm"><img class="lazy" data-src="https://sites.google.com/site/brssihome/media-center/IMG_20171210_151458.jpg" style="width:100%"></div>
                </div><br>

                <p class="noticet ">For more Photos and Videos, please&nbsp;<a href="https://drive.google.com/open?id=1ePjgxKr9cptj0QiMgTsLZgU172tWnDI5 " target="_blank ">Click
                        Here</a></p>

                <hr> Safety awareness program (especially for girls, age group of 10-20 years old). An initiative of RSSI, Lucknow centre. Chaired by Sapnil Sharma.<br>
                <p1><i class="far fa-calendar-check "></i>&nbsp;&nbsp;19-Nov-2017</p1><br><br>

                <div class="rowm">
                    <div class="colm"><img class="lazy" data-src="https://sites.google.com/site/brssihome/media-center/IMG_20171119_135447.jpg" style="width:100%"></div>
                    <div class="colm"><img class="lazy" data-src="https://sites.google.com/site/brssihome/media-center/IMG_20171119_140205.jpg" style="width:100%"></div>
                </div><br>
                <div class="rowm">
                    <div class="colm"><img class="lazy" data-src="https://sites.google.com/site/brssihome/media-center/IMG_20171119_140004.jpg" style="width:100%"></div>
                    <div class="colm"><img class="lazy" data-src="https://sites.google.com/site/brssihome/media-center/IMG_20171119_140041.jpg" style="width:100%"></div>
                </div><br>
                <hr> Commencement of the Educational year 2018 after prayer. Let's start a new journey.<br>
                <p1><i class="far fa-calendar-check "></i>&nbsp;&nbsp;05-Nov-2017</p1><br><br>
                <div class="rowm">
                    <div class="colm"><img class="lazy" data-src="https://sites.google.com/site/brssihome/media-center/IMG_20171105_142420.jpg" style="width:100%"></div>
                    <div class="colm"><img class="lazy" data-src="https://sites.google.com/site/brssihome/media-center/IMG_20171105_122813.jpg" style="width:100%"></div>
                </div><br>
                <hr> Commencement of Classes and academic activities for foundation Regular/Irregular course (Lucknow Center).
                <br>
                <p1><i class="far fa-calendar-check "></i>&nbsp;&nbsp;28-Aug-2017</p1><br><br>

                <div class="rowm">
                    <div class="colm"><img class="lazy" data-src="https://sites.google.com/site/brssihome/media-center/Event4%2008-25-2017" style="width:100%"></div>
                    <div class="colm"><img class="lazy" height="239 " data-src="https://sites.google.com/site/brssihome/media-center/Event3%2008-25-2017" style="width:100%"></div>
                </div><br>
                <div class="rowm">
                    <div class="colm"><img class="lazy" data-src="https://sites.google.com/site/brssihome/media-center/Event2%2008-25-2017" style="width:100%"></div>
                    <div class="colm">
                        <img class="lazy" data-src="https://sites.google.com/site/brssihome/media-center/Event1%2008-25-2017" style="width:100%"></div>
                </div><br>
                <hr> RSSI celebrates 70th Independence day of India.<br>
                <p1><i class="far fa-calendar-check "></i>&nbsp;&nbsp;15-Aug-2017</p1><br><br>

                <div class="rowm">
                    <div class="colm"><iframe class="embed-responsive-item" style="width:100%; height: 265px; border: 0vw;" src="https://drive.google.com/file/d/0B8nPkixtUaGKV0NIT0dtbnRyeUU/preview" allowfullscreen></iframe></div>
                </div>

                <hr> Distribution of stationary for educational purpose.<br>
                <p1><i class="far fa-calendar-check"></i>&nbsp;&nbsp;28-May-2017</p1><br><br>

                <div class="rowm">
                    <div class="colm"><img class="lazy" data-src="https://sites.google.com/site/brssihome/media-center/Event%2005-28-2017.jpg" style="width:100%;"></div>
                </div>

            </div>
        </div>
    </div>

    <!-- =========================
     SCRIPTS   
============================== -->

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <!--<script data-src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
    <script src="/js/custom.js"></script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
            var lazyloadImages = document.querySelectorAll("img.lazy");
            var lazyloadThrottleTimeout;

            function lazyload() {
                if (lazyloadThrottleTimeout) {
                    clearTimeout(lazyloadThrottleTimeout);
                }

                lazyloadThrottleTimeout = setTimeout(function() {
                    var scrollTop = window.pageYOffset;
                    lazyloadImages.forEach(function(img) {
                        if (img.offsetTop < (window.innerHeight + scrollTop)) {
                            img.src = img.dataset.src;
                            img.classList.remove('lazy');
                        }
                    });
                    if (lazyloadImages.length == 0) {
                        document.removeEventListener("scroll", lazyload);
                        window.removeEventListener("resize", lazyload);
                        window.removeEventListener("orientationChange", lazyload);
                    }
                }, 20);
            }

            document.addEventListener("scroll", lazyload);
            window.addEventListener("resize", lazyload);
            window.addEventListener("orientationChange", lazyload);
        });
    </script>
    <script src="/js/jquery.parallax.js"></script>
    <script src="/js/responsive-header.js"></script>

    <!-- =========================
     FOOTER   
============================== -->
    <!-- Back top -->
    <a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>
    <div id="footer"></div>
</body>

</html>