<!DOCTYPE html>
<html lang="en">

<head>

    <title>Miscellaneous</title>

</head>


<meta name="description" content="">
<meta name="author" content="">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


<link rel="shortcut icon" href="/images/logo/favicon.ico" type="image/x-icon" />
<script src="/js/jquery.js"></script>
<script>
    $(function() {
        $("#header").load("/header.html");
        $("#footer").load("/footer.html");
    });
</script>
<link rel="stylesheet" href="/css/HeaderFooter.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<!-- Main css -->
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/addstyle.css">
<!-- =========================
     NAVIGATION LINKS     
============================== -->

<body>

    <div id="header"></div>

    <!-- NAVIGATION PATH -->



    <!--<img src="" alt="" width="100%"/><br>-->
    <div style="margin: 0.3%;">
        <ps class="marginleft notice" style="margin-left: 3%;">
            <a href="/index">Home</a> &#62; Students' corner &#62; Miscellaneous</ps>
    </div>


    <!-- =========================
    VIDEO SECTION   
============================== -->
    <section id="videoNational" style="padding: 5% 5.5%; background:#f9f9f9">

        <div class="row1">
            <div class="column6a" style="padding-left: 0;">
                <h3>Ladies and gentlemen, boys and girls, before playing the video,you are requested to stand to honor of the National Anthem.</h3>
                <p>Jana Gana Mana is the national anthem of India. It was originally composed as Bharoto Bhagyo Bidhata in Bengali by poet Rabindranath Tagore. Later, it was written in sadhu Bengali or tatsama Bengali which is heavily sanskiritised. The
                    first stanza of the song Bharoto Bhagyo Bidhata was adopted by the Constituent Assembly of India as the National Anthem on 24 January 1950. A formal rendition of the national anthem takes approximately 52 seconds. It was first publicly
                    sung on 27 December 1911 at the Calcutta (now Kolkata) Session of the Indian National Congress.</p>

            </div>
            <div class="column6">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://drive.google.com/file/d/0B8nPkixtUaGKbm91RlVwblh5RUk/preview" allowfullscreen></iframe>

                </div>
            </div>

        </div>

    </section>
    <!-- =========================
    VIDEO SECTION   
============================== -->
    <section id="video" style="padding: 5% 5.5%; background:#fff">

        <div class="row1">

            <div class="column6">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://docs.google.com/file/d/0B8nPkixtUaGKQUt5ZnlTQTlIY2M/preview" allowfullscreen></iframe>

                </div>
            </div>


            <div class="column6a">
                <h3>Vande Mataram</h3>
                <p>Vande Mataram is the national song of India written by the Bankim Chandra Chattopadhyay in 1882 in novel, Anandamath. Originally it was written in two languages, Bengali and Sanskrit. National song is sung to the Mother Land on any national
                    occasions. </p>

            </div>

        </div>

    </section>

    <!-- =========================
    VIDEO SECTION   
============================== -->
    <section id="video" style="padding: 5% 5.5%; background:#fff">

        <div class="row1">
            <div class="column6">
                <h2>Watch Video</h2>
                <h3>Not every red riding hood gets her happy ending.</h3>
                <p>The World Health Organisation has defined child sexual abuse as the involvement of a child in sexual activity as he or she does not fully comprehend, is unable to give informed consent to, or for which the child is not developmentally
                    prepared and cannot give consent, or that violates the laws or social taboos of society. It includes different sexual activities like fondling, inviting a child to touch or be touched sexually, intercourse, exhibitionism, involving
                    a child in prostitution or pornography, or online child luring by cyber-predators.</p>

            </div>
            <div class="column6a">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://drive.google.com/file/d/1GBDcByr_eh98LtWfyQ517jaS6s696khY/preview" allowfullscreen></iframe>
                </div>
            </div>

        </div>
    </section>

    <!-- =========================
     SCRIPTS   
============================== -->

    <script src="/js/pace.js"></script>
    <script src="/js/fontawsome.js"></script>
    <script src="/js/smoothscroll.js"></script>
    <!--<script src="/js/bootstrap.min.js"></script>-->
    <script src="/js/jquery.parallax.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/custom.js"></script>

    <!-- =========================
     FOOTER   
============================== -->
    <!-- Back top -->
    <a id="bttbutton" href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>
    <div id="footer"></div>
</body>

</html>