<!DOCTYPE html>
<html lang="en">

<head>

    <!--
RSSI
http://www.rssi.in
-->
    <title>Payment</title>
</head>

<meta name="description" content="">
<meta name="author" content="">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


<link rel="shortcut icon" href="/images/logo/favicon.ico" type="image/x-icon" />
<script src="/js/jquery.js"></script>
<script>
    $(function() {
        $("#header").load("/header.html");
        $("#footer").load("/footer.html");
    });
</script>
<link rel="stylesheet" href="/css/HeaderFooter.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<!-- Main css -->
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/addstyle.css">

<!-- =========================
     NAVIGATION LINKS     
============================== -->

<body>

    <div id="header"></div>

    <section id="update" style="padding: 0.5% 5.5%; background-color: #fff">
        <div class="row py-2">
            <div class="col-1 col-md-3 col-lg-2 py-1 pr-md-0 mb-md-1">
                <div class="d-inline-block d-md-block bg-primary text-white text-center breaking-caret py-1 px-2"> <span class="fas fa-flag" title="Updates"></span></div>
            </div>
            <div class="col-11 col-md-9 col-lg-10 pl-1 pl-md-2">
                <div class="breaking-box pt-2 pb-1">
                    <marquee behavior="scroll" scrollamount="5" direction="left" onmouseover="this.stop();" onmouseleave="this.start();">
                        <ps class="h6 notice"><span class="position-relative mx-2 badge badge-primary rounded-0">TTP-B2</span>&nbsp;The last date for registration and fee submission is 8 September 2021. For more information, please call us directly at +91 7980168159 or or
                            email at <a href="mailto:info@rssi.in">info@rssi.in</a>.</ps>
                    </marquee>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="alert alert-success" role="alert">Course Fee + Certification Fee = ₹ 425.00 for Raja Peary Mohan College students and for other colleges, Course Fee + Certification Fee = ₹ 575.00
            </div>
        </div>
    </div>
    <!-- NAVIGATION PATH -->

    <!--<img src="" alt="" width="100%"/><br>
    <div style="margin: 0.3%;">
        <ps class="marginleft notice" style="margin-left: 3%;">
            <a href="/index">Home</a> &#62; Payment</ps>
    </div>-->
    <!-- =========================
     Donation portal   
============================== -->

    <section id="donation" style="padding-left: 5%;padding-right: 5%; padding-top: 2%;background:#fff">


        <div class="row1">
            <div class="column6">
                <div class="row1">
                    <div class="column7 dnd marginleft">
                        <p>Account Number: <b>201008915512</b></p>
                        <p>A/C Name: 52617897 - Rina Shiksha Sahayak Foundation</p>
                        <p>Bank Name: Indusind Bank Ltd, 0865 - Chhinhat Lucknow</p>
                        <p>IFSC Code: INDB0000865</p>
                    </div>

                    <div class="column7a">
                        <img src="/images/donation/payment.jpg" alt="Google pay QR" class="img-responsive"><br>
                        <p class="text-warning">Scan the above QR code to make payment</p>
                    </div>
                </div>
            </div>

            <div class="column6a">
                <embed src="/form" width="100%" height="410px">
                </embed>
            </div>
        </div>
        <br>
    </section>


    <!-- =========================
     SCRIPTS   
============================== -->

    <script src="/js/pace.js"></script>
    <script src="/js/fontawsome.js"></script>
    <script src="/js/smoothscroll.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.parallax.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/custom.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var lazyloadImages = document.querySelectorAll("img.lazy");
            var lazyloadThrottleTimeout;

            function lazyload() {
                if (lazyloadThrottleTimeout) {
                    clearTimeout(lazyloadThrottleTimeout);
                }

                lazyloadThrottleTimeout = setTimeout(function() {
                    var scrollTop = window.pageYOffset;
                    lazyloadImages.forEach(function(img) {
                        if (img.offsetTop < (window.innerHeight + scrollTop)) {
                            img.src = img.dataset.src;
                            img.classList.remove('lazy');
                        }
                    });
                    if (lazyloadImages.length == 0) {
                        document.removeEventListener("scroll", lazyload);
                        window.removeEventListener("resize", lazyload);
                        window.removeEventListener("orientationChange", lazyload);
                    }
                }, 20);
            }

            document.addEventListener("scroll", lazyload);
            window.addEventListener("resize", lazyload);
            window.addEventListener("orientationChange", lazyload);
        });
    </script>


    <!-- =========================
     FOOTER   
============================== -->
    <!-- Back top -->
    <a id="bttbutton" href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>
    <script src="https://cdn.jsdelivr.net/gh/manucaralmo/GlowCookies@3.0.1/src/glowCookies.min.js"></script>
    <!-- Glow Cookies v3.0.1 -->
    <script>
        glowCookies.start('en', {
            analytics: 'G-S25QWTFJ2S',
            //facebookPixel: '',
            policyLink: '/website-disclaimer'
        });
    </script>
    <div id="footer"></div>
</body>

</html>