<!DOCTYPE html>
<html lang="en">

<head>
    <title>Footer</title>
    <style>
        .prebanner {
            display: none;
        }
        /*GOOGLE TRANSLATE*/
        
        #google_translate_element img {
            width: fit-content;
        }
        
        .goog-te-banner-frame.skiptranslate {
            display: none !important;
        }
        
        body {
            top: 0px !important;
        }
    </style>
</head>

<body>
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="container">
            <div class="row gy-3">
                <div class="col-lg-3 col-md-6 d-flex">
                    <i class="bi bi-geo-alt icon"></i>
                    <div>
                        <h4>Address</h4>
                        <p>
                            624B/195/01, Vijayipur, Vijaipur Village, Vishesh Khand 2, Gomti Nagar, Lucknow, Uttar Pradesh 226010
                            <br>
                        </p>
                    </div>

                </div>

                <div class="col-lg-3 col-md-6 footer-links d-flex">
                    <i class="bi bi-telephone icon"></i>
                    <div>
                        <h4>Contact</h4>
                        <p>
                            <strong>Phone:</strong> 7980168159 / 9717445551<br>
                            <strong>Email:</strong> info@rssi.in<br>
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 footer-links d-flex">
                    <i class="bi bi-clock icon"></i>
                    <div>
                        <h4>Opening Hours</h4>
                        <p>
                            <strong>Mon-Sat: 3:30 pm</strong> - 5:45 pm<br> Sunday: Closed
                        </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <h4>Follow Us</h4>
                    <div class="social-links d-flex">
                        <a href="https://www.instagram.com/rssi.in/" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="https://www.facebook.com/rssi.in" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="https://www.instagram.com/rssi.in/" class="instagram"><i
                                class="bi bi-instagram"></i></a>
                        <a href="https://www.linkedin.com/company/rssingo/" class="linkedin"><i
                                class="bi bi-linkedin"></i></a>
                        <a href="https://www.youtube.com/c/RSSINGO" class="linkedin"><i class="bi bi-youtube"></i></a>
                    </div>
                    <br>
                    <p class="footer-links" style="font-size: small !important; margin-bottom: 0;">
                        <a href="/contact-us">Contact us</a> |
                        <a href="/disclaimer">Disclaimer</a> |
                        <a href="/terms-of-service">Terms & Conditions</a> |
                        <a href="/refund-policy">Cancellation/Refund Policy</a> |
                        <a href="/privacy-policy">Privacy Policy</a>
                    </p>
                    <!-- <div id="google_translate_element" style="position: relative;z-index: 1;"></div> -->
                </div>

            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>RSSI</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Site Contents owned, designed, developed, maintained and updated by the IT Department, RSSI.
            </div>
        </div>

    </footer>
    <!-- End Footer -->

    <!-- <script type="text/javascript">
        var g_gTranslateIsAdded = false;

        function googleTranslateElementInit() {
            if (!g_gTranslateIsAdded) {
                g_gTranslateIsAdded = true;
                new google.translate.TranslateElement({
                    pageLanguage: 'en',
                    includedLanguages: 'hi,en,bn',
                    layout: google.translate.TranslateElement.InlineLayout.SIMPLE
                }, 'google_translate_element');
            }
        }
    </script>
    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script> -->
    <script>
        $("a").each(function() {
            if ((window.location.pathname.indexOf($(this).attr('href'))) > -1) {
                $(this).addClass('active');
            }
        });
    </script>

</body>

</html>