<!DOCTYPE html>
<html lang="en">

<head>
    <!--
RSSI
http://www.rssi.in
-->
    <title>Registration</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <link rel="shortcut icon" href="/images/logo/favicon.ico" type="image/x-icon" />
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script>
        $(function() {
            $("#header").load("/header.html");
            $("#footer").load("/footer.html");
        });
    </script>
    <link rel="stylesheet" href="/css/HeaderFooter.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- Main css -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/addstyle.css">
    <style>
        .dnd {
            padding: 0px 30px 1px 15px !important;
        }
    </style>
</head>
<!-- =========================
     NAVIGATION LINKS     
============================== -->

<body>

    <div id="header"></div>

    <div style="margin: 0.3%;">
        <ps class="marginleft notice" style="margin-left: 3%;">
            <a href="/index">Home</a> &#62; Join us as &#62; Volunteer/Intern/Employee
        </ps>
    </div>
    <!-- =========================
    REGISTRATION   
============================== -->

    <section id="calender" style="padding: 2% 3%; background-color: #f9f9f9">
        <div style="text-align: right;">
            <div class="white hoverdecoration">
                <select id="select" onchange="var win = window.open(this.value, '_blank'); win.focus();">
                    <option value="" hidden>Select document</option>
                    <option value="https://drive.google.com/file/d/1UV1Y9d0w1dFh4YYV2Cj4pPpLTEUoCT7_/view">
                        Responsibilities of Intern</option>
                    <option value="https://drive.google.com/file/d/1IBuhQ0PnwBaZBE8gyJsvAiIqFF09WgXg/view">General Terms
                        and Conditions</option>
                </select>
            </div>
        </div>

        <div class="row1">
            <div class="dnd marginleft">
                <h3>How can I become a RSSI Volunteer/Intern/Employee for an assignment?</h3>
            </div>
            <br>
            <p>You need to register your profile in the RSSI talent pool. The registration process consists of two parts.
            </p>

            <h5>Part I</h5>
            <p>Familiarize yourself with essential information for potential volunteer/intern/employee and submit basic information using the below registration form to create your account. After the successful submission you will automatically receive an
                email with your Application ID.</p>

            <div class="white" style="text-align: -webkit-center; ">
                <a href="https://forms.gle/KJXJwbxUzczN2eQG7" target="_blank" class="primary_btn smoothScroll exam_btn" style="padding: 10px 20px;" data-wow-delay="1.3s">Registration Form <i
                        class="fas fa-chevron-right"></i></a>
            </div>

            <h5>Part II</h5>
            <p>After completing Part 1, in order for us to be able to process your application, either you have to contact your nearest RSSI branch with an original document from the items listed or you can avail our online verification facility. Acceptable
                identification
            </p>

            <ul>
                <ol type="1">
                    <li style="padding-left:0.5em">
                        <p>Aadhaar</p>
                    </li>
                    <li style="padding-left:0.5em">
                        <p>Current passport</p>
                    </li>
                    <li style="padding-left:0.5em">
                        <p>Driving license</p>
                    </li>
                    <li style="padding-left:0.5em">
                        <p>Electoral identity card</p>
                    </li>
                    <li style="padding-left:0.5em">
                        <p>Ration card</p>
                    </li>
                </ol>
            </ul>

            <p>Now your application will be in the HR queue. After HR approval, as confirmation of your successful registration you will receive a second email with your Volunteer ID, other practical information for potential candidates and a URL to enter
                all the required details regarding your skills, educational qualifications and experience.</p>

            <p>Your RSSI profile will only be considered for upcoming volunteer assignments after completion of this second part of the registration process.</p>

        </div>
    </section>


    <!-- =========================
     SCRIPTS   
============================== -->

    <script src="https://cdn.jsdelivr.net/npm/pace-js@latest/pace.min.js"></script>
    <script src="https://kit.fontawesome.com/58c4cdb942.js" crossorigin="anonymous"></script>
    <script src="/js/smoothscroll.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>-->


    <script src="/js/custom.js"></script>


    <!-- =========================
     FOOTER   
============================== -->
    <!-- Back top -->
    <a id="bttbutton" href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>
    <script src="https://cdn.jsdelivr.net/gh/manucaralmo/GlowCookies@3.0.1/src/glowCookies.min.js"></script>
    <!-- Glow Cookies v3.0.1 -->
    <script>
        glowCookies.start('en', {
            analytics: 'G-S25QWTFJ2S',
            //facebookPixel: '',
            policyLink: '/website-disclaimer'
        });
    </script>
    <div id="footer"></div>
    <!-- Messenger Chat Plugin Code -->
    <div id="fb-root"></div>

    <!-- Your Chat Plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "215632685291793");
        chatbox.setAttribute("attribution", "biz_inbox");

        window.fbAsyncInit = function() {
            FB.init({
                xfbml: true,
                version: 'v12.0'
            });
        };

        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <style>
        .grecaptcha-badge {
            visibility: hidden;
        }
    </style>
</body>

</html>