<!DOCTYPE html>
<html lang="en">

<head>
    <!--
RSSI
http://www.rssi.in
-->
    <title>scholarship programs</title>
</head>

<meta name="description" content="">
<meta name="author" content="">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


<link rel="shortcut icon" href="/images/logo/favicon.ico" type="image/x-icon" />
<script src="/js/jquery.js"></script>
<script>
    $(function() {
        $("#header").load("/header.html");
        $("#footer").load("/footer.html");
    });
</script>
<link rel="stylesheet" href="/css/HeaderFooter.css">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<!-- Main css -->
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/addstyle.css">
<!-- =========================
     NAVIGATION LINKS     
============================== -->

<body>

    <div id="header"></div>

    <!-- NAVIGATION PATH -->

    <img src="/images/about/Swabhiman.jpg" alt="" width="100%" /><br>
    <div style="margin: 0.3%;">
        <ps class="marginleft notice" style="margin-left: 3%;">
            <a href="/index">Home</a> &#62; Students' corner &#62; Scholarship programs</ps>
    </div>



    <!-- =========================
    SCHOLARSHIP   
============================== -->

    <section id="scholarship" style="padding: 5% 5.5%; background-color: #f9f9f9">

        <div class="row1">
            <div class="column3 dnd marginleft">

                <h3>Empowering Girls Through Education.</h3>

                <p>RSSI is an educational center in India whose vision is to contribute to the empowerment of Indian women by supporting academically outstanding and financially deserving girls, through scholarship to pursue higher education.</p>

                <p>RSSI supports girls from dropout until senior secondary level. RSSI scholarships are merit-cum-need based scholarship. We have three categories here, Swabhiman Prakalpa, Foundation and Post Matric scheme.</p><br>

                <table class="marginlefttable" border="1" bordercolor="#888" style="border-collapse:collapse;border-color:rgb(136,136,136);border-width:1px">
                    <tbody>
                        <tr>
                            <td style="padding:5px; width:25%">
                                <p>Swabhiman Prakalpa</p>
                            </td>
                            <td style="padding:5px; width:65%">
                                <p>Only for the underprivileged girl. We also cover dropout girls (age group of 10 to 20 years) under this category.</p>
                            </td>
                            <td style="text-align:center; padding:5px; width:10%" class="notice"><a href="/swabhiman-prakalpa.html">View</a></td>
                        </tr>

                        <tr>
                            <td style="padding:5px">
                                <p>Foundation Scheme</p>
                            </td>
                            <td style="padding:5px">
                                <p>It covers both primary and secondary level. To be eligible for this category candidates have to clear RSSI scholarship test without any consideration and annual income of their parents/guardian from all sources needs to
                                    be under ₹ 1 lakh.</p>
                            </td>
                            <td style="text-align:center; padding:5px" class="notice"><a target="blank" href="https://drive.google.com/file/d/0B8nPkixtUaGKT2ZIVHJjelBDZFE/view">View</a></td>
                        </tr>


                        <tr>
                            <td style="padding:5px">
                                <p>Post Matric Scheme</p>
                            </td>
                            <td style="padding:5px">
                                <p>Applicable for senior secondary level students. Candidates who have secured above 69% marks or equivalent grade in the board examination and the annual income of parents/guardian from all sources does not exceed ₹ 2 lakh
                                    are eligible for this category.</p>
                            </td>
                            <td style="text-align:center; padding:5px" class="notice"><a target="blank" href="https://drive.google.com/file/d/0B8nPkixtUaGKN1JYXzBWaFBZZHc/view">View</a></td>
                        </tr>

                    </tbody>
                </table>
            </div>


            <!--</div>
					  
			  <div class="wow fadeInUp col-md-6 col-sm-6" data-wow-delay="0.9s">-->
            <div class="column4">
                <embed src="https://docs.google.com/forms/d/e/1FAIpQLSeK25OVfpSfBR07B3g8xd9o_Oo_dVtZ5JPhT6PadDR1Bx_0ng/viewform" width="100%" height="1500">
            </div>

        </div>
        <!--</div>-->
    </section>

    <!-- =========================
     SCRIPTS   
============================== -->

    <script src="/js/pace.js"></script>
    <script src="/js/fontawsome.js"></script>
    <script src="/js/smoothscroll.js"></script>
    <!--<script src="/js/bootstrap.min.js"></script>-->
    <script src="/js/jquery.parallax.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/custom.js"></script>

    <!-- =========================
     FOOTER   
============================== -->
    <!-- Back top -->
    <a id="bttbutton" href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>
    <script src="https://cdn.jsdelivr.net/gh/manucaralmo/GlowCookies@3.0.1/src/glowCookies.min.js"></script>
    <!-- Glow Cookies v3.0.1 -->
    <script>
        glowCookies.start('en', {
            analytics: 'G-S25QWTFJ2S',
            //facebookPixel: '',
            policyLink: '/website-disclaimer'
        });
    </script>
    <div id="footer"></div>
</body>

</html>