<!--<section class="about_area section_gap" id="abouthome" style="padding: 5% 5.5%; background-color: #EAEAEA">
        <div class="container">
            <div class="row">
                <div class="single_about row">
                    <div class="col-lg-6 col-md-12 text-center about_left">
                        <div class="about_thumb"> <img class="card-img-top img-fluid lazy img-responsive" data-src="/images/about/abouthome.jpg" alt="about_us">
                            <div class="carousel-caption" style="width:50%">
                                <p>Award distribution - 2K19. Special thanks to Upasana Patel for her contributions to drive the event and sponsoring cycle.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 about_right">
                        <div class="about_content">
                            <h2>WE ARE</h2>
                            <h3>A GLOBAL COMMUNITY CHANGING THE WAY THE WORLD TACKLES POVERTY</h3><br>
                            <p> The path out of poverty begins when the next generation can access quality healthcare and a great education.</p>
                            <p> In developing countries, we focus on improving people’s health and wellbeing, helping individuals lift themselves out of hunger and extreme poverty. In India, we seek to ensure that all people especially those with the fewest
                                resources can access the opportunities they need to succeed in school and life.</p>
                            <div class="hover white"><a href="/about-us" class="primary_btn smoothScroll">learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>-->

<!--<div class="demo">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12 col-sm-12 wow bounceIn">
                        <div class="section-title" style="color: whitesmoke; text-align: center;">
                            <h2>What People Say About Us</h2>
                            <p style="color: whitesmoke;">We Love Hearing From You</p>
                        </div>
                    </div>
                    <div id="testimonial-slider" class="owl-carousel">
                        <div class="testimonial"> <span class="icon fa fa-quote-left"></span>
                            <p class="description">It has been a great learning experience to work with RSSI. Very friendly and helpful team guided us in each step. Most importantly, it's an honest attempt to make education accessible to those who need it the most.</p>
                            <div class="testimonial-content">
                                <div class="pic"><img class="lazy" data-src="https://res.cloudinary.com/hs4stt5kg/image/upload/w_350,h_350,c_thumb,g_faces/v1637589835/faculties/Prayasi_Gangopadhyay.jpg" alt=""></div>
                                <h3 class="title" style="line-height: 2;">Prayasi Gangopadhyay</h3> <span class="post">Intern, West Bengal</span>
                            </div>
                        </div>
                        <div class="testimonial"> <span class="icon fa fa-quote-left"></span>
                            <p class="description">Being a part of their Teachers Training Program I got to improve my skills and gained a lot of experience from them. If you want to give your creative minds a direction then you should join them.</p>
                            <div class="testimonial-content">
                                <div class="pic"><img class="lazy" data-src="https://res.cloudinary.com/hs4stt5kg/image/upload/w_350,h_350,c_thumb,g_faces/v1637589582/faculties/Sayantani_Das.jpg" alt=""></div>
                                <h3 class="title" style="line-height: 2;">Sayantani Das</h3> <span class="post">Intern,
                                    West Bengal</span>
                            </div>
                        </div>

                        <div class="testimonial"> <span class="icon fa fa-quote-left"></span>
                            <p class="description">This is an organization which imparts educational classes in various subjects,.the faculty chosen is highly qualified and well placed in their own teaching profession.
                            </p>
                            <div class="testimonial-content">
                                <div class="pic"><img class="lazy" data-src="https://res.cloudinary.com/hs4stt5kg/image/upload/w_350,h_350,c_thumb,g_faces/v1620182996/students/Harmeet.jpg" alt=""></div>
                                <h3 class="title" style="line-height: 2;">Harmeet Kaur</h3> <span class="post">Student,
                                    West Bengal</span>
                            </div>
                        </div>

                        <div class="testimonial"> <span class="icon fa fa-quote-left"></span>
                            <p class="description">I joined this NGO 6 months back and now, I want to be with it forever. One and only because of the wonderful and helpful teachers here.</p>
                            <div class="testimonial-content">
                                <div class="pic"><img class="lazy" data-src="https://res.cloudinary.com/hs4stt5kg/image/upload/w_350,h_350,c_thumb,g_faces/v1625978101/students/ALKO21044.jpg" alt=""></div>
                                <h3 class="title" style="line-height: 2;">Divya Singh</h3> <span class="post">Student,
                                    Uttar Pradesh</span>
                            </div>
                        </div>
                        <div class="testimonial"> <span class="icon fa fa-quote-left"></span>
                            <p class="description">I am very grateful to this NGO. It is because of this organization that our studies continued even in this pandemic, so not only me, my parents are also very grateful to this NGO.</p>
                            <div class="testimonial-content">
                                <div class="pic"><img class="lazy" data-src="https://res.cloudinary.com/hs4stt5kg/image/upload/w_350,h_350,c_thumb,g_faces/v1625978101/students/ALKO20007.jpg" alt=""></div>
                                <h3 class="title" style="line-height: 2;">Ritishek Mishra</h3> <span class="post">Student,
                                    Uttar Pradesh</span>
                            </div>
                        </div>

                        <div class="testimonial"> <span class="icon fa fa-quote-left"></span>
                            <p class="description"> A great place. Beautiful location amidst forest and greenery and hills. This is an educational institute imparting free and quality education for underprivileged kids.</p>
                            <div class="testimonial-content">
                                <div class="pic"><img class="lazy" data-src="https://res.cloudinary.com/hs4stt5kg/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max/v1586191460/faculties/Neel.jpg" alt=""></div>
                                <h3 class="title" style="line-height: 2;">Indranil Nag</h3> <span class="post">Volunteer,
                                    Gujarat</span>
                            </div>
                        </div>

                        <div class="testimonial"> <span class="icon fa fa-quote-left"></span>
                            <p class="description"> I feel that this is a very good platform to teach the young ones who are not able to go to school due to some reasons and 1 or 2 hours in a day can change someone's life leading to his/her bright future.</p>
                            <div class="testimonial-content">
                                <div class="pic"><img class="lazy" data-src="https://res.cloudinary.com/hs4stt5kg/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max/v1542544977/faculties/VLKO17003.jpg" alt=""></div>
                                <h3 class="title" style="line-height: 2;">Gaurav Bagga</h3> <span class="post">Volunteer, Madhya Pradesh</span>
                            </div>
                        </div>
                        <div class="testimonial"> <span class="icon fa fa-quote-left"></span>
                            <p class="description"> This is a special opportunity. One gets to learn more while teaching young children.</p>
                            <div class="testimonial-content">
                                <div class="pic"><img class="lazy" data-src="https://res.cloudinary.com/hs4stt5kg/image/upload/w_1000,c_fill,ar_1:1,g_auto,r_max/v1557377190/faculties/Richa.jpg" alt=""></div>
                                <h3 class="title" style="line-height: 2;">Richa Singh</h3> <span class="post">Ex-volunteer,
                                    USA</span>
                            </div>
                        </div>
                        <div class="testimonial"> <span class="icon fa fa-quote-left"></span>
                            <p class="description">Very genuine and authentic education center for poor kids. They are doing unprofitable work keeping in mind betterment for their coming generations.</p>
                            <div class="testimonial-content">
                                <div class="pic"><img class="lazy" data-src="https://res.cloudinary.com/hs4stt5kg/image/upload/w_350,h_350/v1609410219/faculties/blank.jpg" alt=""></div>
                                <h3 class="title" style="line-height: 2;">Anoop Kr. Y.</h3> <span class="post">Member,
                                    Uttar Pradesh</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

<script>
    $(document).ready(function() {
        $("#testimonial-slider").owlCarousel({
            items: 3,
            itemsDesktop: [1000, 3],
            itemsDesktopSmall: [979, 2],
            itemsTablet: [768, 2],
            itemsMobile: [650, 1],
            pagination: true,
            autoPlay: true
        });
    });
</script>
<script src="/js/jquery.newsTicker.js"></script>
<script>
    var nt_example1 = $('#nt-example1').newsTicker({
        row_height: 80,
        max_rows: 2,
        duration: 4000,
        prevButton: $('#nt-example1-prev'),
        nextButton: $('#nt-example1-next')
    });
</script>
<script>
    var dt = new Date();
    document.getElementById("datetime").innerHTML = dt.toLocaleString();
</script>

<!--<section id="dashboard" style="padding: 5% 5.5%; background-color: #f9f9f9">
        <div class="row1">
            <div class="column1">
                <a class="twitter-timeline" data-width="400" data-height="600" data-dnt="true" href="https://twitter.com/RssiNgo?ref_src=twsrc%5Etfw" data-tweet-limit="1">Tweets by RssiNgo</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </section>-->

<!--<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
    <df-messenger intent="WELCOME" chat-title="Kalpana" agent-id="f2fac295-3c7c-4eb7-91ee-37fb35ac8b5f" language-code="en"></df-messenger>-->


<!--<div id="feedback_index" class="noprint"><a href="https://wa.me/919831233994" target="blank">Contact
            us&nbsp;&nbsp;<i class="fab fa-whatsapp" style="font-size: 20px;"></i></a></i>
    </div>-->
<!-- Messenger Chat plugin Code
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                xfbml: true,
                version: 'v10.0'
            });
        };

        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script> -->

<!-- Your Chat plugin code
    <div class="fb-customerchat" attribution="biz_inbox" page_id="107348941535385">
    </div> -->